
<h2>MIR</h2>
<div class="logoContainer">
    <img class="logo" [src]="mirLogo" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"The largest sports betting entertainment"</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Adopting world-leading tech to create the most user - friendly betting platform.
        We use a triple encryption system to protect the rights and safety of customers.
        It supports up to 45 languages. You can master all global sports events."
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">МИР</i> platform is a very interesting russian project, which involves placing 
        <i class="emp">predetirmined bets</i> on real football matches. When I first encountered this platform, I was 
        invited by real serious investor, who was trying to increase his <i class="emp">team</i> and help other earn some 
        extra cash. He explained to me the rules and they are very simple. You invest a sum in your wallet on the platform 
        (you can invest Rubles or USDT) and <i class="emp">place 2 bets per day</i>. The bets are 
        <i class="emp">predetirmined</i> and you need to place a <i class="emp">very specific bet</i>, details of which are 
        <i class="emp">given in the Telegram group chat</i> twice per day, every day. You get <i class="emp">compensated</i> 
        even if you lose the bet. It is a <i class="emp">win-win</i> scenario. Maybe the owner wants to increase coefficients, 
        or has a deeper betting system involved. I am not sure, but currently it is working and I find it interesting."
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Register and invest*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="register" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Join Telegram Group**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="telegram" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Wait for the daily bets***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="bets" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Earn / Withdraw / Reinvest</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="earn" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="mir_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p><i>*If you invest at least 10$ you will <i class="emp">receive a bonus</i>. To receive it, you have to write 
                to <i class="emp">write to</i> one of the admins / moderators in <i class="emp">Telegram</i>. 
            </i></p>
            <p><i>**This project is <i class="emp">tightly involved</i> with <i class="emp">Telegram</i>, so you must have an account there, be 
                invited to the group (you can always write to me in Telegram - 
                <i class="emp">@VladTaltos89</i>) and get bonuses and 
                information about the <i class="emp">win-win bets</i>. Any other bets, placed on your own accord,
                though possible, hold <i class="dng">standart betting risk</i>.
            </i></p>
            <p><i>***<i class="emp">Twice a day</i> the admin provides two <i class="emp">bet instructions</i>. Whoever 
                <i class="emp">follows these bets</i> is certain to receive the <i class="emp">bet's winning coefficient</i> 
                at the end of the match. I do not know the strategy of the owner, but maybe he is trying to manipulate bets 
                for his gain, or knows the outcome already (sorry that's dark). Or maybe he has some kind of system, which 
                ensures his income in some manner. I do not understand football mechanichs that much. Either way, you check 
                in <i class="emp">Telegram group</i> from time to time, get the <i class="emp">code of the match</i>, click on 
                <i class="emp">Market</i> menu in the platform, <i class="emp">type in the code</i> in the field, 
                <i class="emp">select the match</i> (make sure to make a check if you've selected the correct match), after that 
                you <i class="emp">select the correct bet</i> (double check here as well) and place a bet (I suggest
                <i class="emp">bet everything</i>). The match <i class="emp">should be</i> a <i class="emp">win-win</i>.
                Even if the bet doesn't guess the correct result of the match, you will still be <i class="emp">compensated</i>.
            </i></p>
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span>Back</span>
                </div>
                <div class="clone">
                    <span>Side Hustles</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
            I had some trust issues at first, but it seems to be an interesting side-hustle, with a bit of gambling 
            nuance to it. I <i class="emp">can't guarantee</i> if this is a <i class="emp">legit</i> website and it does 
            hold <i class="dng">significant risk</i>. I would <i class="emp">advise</i> investing rationally and always 
            keep in mind, that this is not an official betting company. It's more of 
            online community, which follows <i class="emp">the dreams and strategies</i> of an 
            <i class="emp">individual</i> or a group of people. It might be a <i class="dng">scam</i>, 
            but it might <i class="emp">also be</i> a project with a strategy and idea behind it, 
            which can prove to evolve/survive with time. Either way, I 
            <i class="dng">don't recommend</i> taking huge risks. Invest only what you're willing to risk losing. I find 
            these projects <i class="emp">interesting</i>, because you may never know when a 
            <i class="emp">good and stable one</i> will appear, in which you can earn more than spare cash.
            <span class="gl">Good luck!</span> 
        </p>
        <div class="book">
            <p>~7$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://mnp321.com?a=x&c=61651046">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>
