

<h2>Honeygain</h2>
<div class="logoContainer">
    <img class="logo" [src]="honeyGain" alt="Honeygain's logo, a bee">
    <p><i class="quote">"With Honeygain, you can make money by simply sharing your Internet. Start earning now."</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Start earning with Honeygain, and use the money to pay for a streaming platform subscription, 
        unlock exclusive content on free-to-play video games, or simply treat yourself with a little online 
        shopping spree. After all, you’ll earn free money with Honeygain!
        Honeygain ensures that your internet traffic is only used by trusted partners, and the app never asks for or 
        gains access to the storage of your device.
        Once you start using Honeygain, your devices act like view towers and help world-famous businesses access 
        the World Wide Web without having to worry about location-based restrictions or censorship.
        "
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "Honeygain is my first side hustle. When I decided to give it a try, I already knew I wasn't going to earn much. 
        But <i class="emp">Honeygain</i> doesn't require any effort, nor does it slow down your devices or spend a lot of electricity.
        You just need to register and download it on your computer and mobile device (or tablet). After that it starts 
        using a small portion of your <i class="emp">unused MB</i> of internet and generates some income. The more devices you connect - 
        the better your income. But every device must use a <i class="emp">different IP</i> (or be connected to a different network). You can't 
        use many devices, connected to the same Wi-Fi for istance. Currently I've connected 2 devices and managed to reach 
        the <i class="emp">minimum withdrawal limit of 20$</i>. I have successfully received my earnings to Paypal.
        "
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Connect more devices (with different network IPs)</li>
                    <span>
                        <img class="honeyIps" [src]="honeyIps" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Open daily pot of honey (bonus)*</li>
                    <span class="honeyPotRow">
                        <img class="honeyIps honeyPot" [src]="honeyPot" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Enable JumpTask** (this way you will earn more, but in the form of Jump Tokens)</li>
                    <span>
                        <img class="honeyIps" [src]="honeySpeed" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Enable Content Delivery*** (accessible only in certain locations)</li>
                    <span>
                        <img class="honeyIps" [src]="honeyLoc" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends / Acquire referrals</li>
                    <span class="hRef">
                        <img class="honeyIps honeyBuddy" [src]="buddy" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img [src]="honeySofa"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p><i>*If you manage to share at least 15 MB daily, you unlock the Honey Pot, which can provide you from 
                0.005$ to 10$. But, know this, my biggest win at the current moment is 0.5$. Usually, it provides between 
                0.005$ to 0.015$. Still, there is the chance of a big win, and it takes no more than a minute of your time.
            </i></p>
            <p><i>**JumpTask is a partner of Honeygain. It is a different platform, in which you can earn more passive income
                by completing tasks. JumpTask has its native token - JMPT, which is not launched in the official blockchain,
                but still has a certain value. If you decide to use Honeygain's partnership with JumpTask, you will receive 
                a 10% bonus.
            </i></p>
            <p><i>***Content Delivery is yet another way to share your Internet connection. 
                It includes multiple types of bandwidth-intensive content such as images, videos, audio, streaming, 
                heavy websites, IPTV, VOD, social media, or VoIP services. No, your device storage will not be accessed 
                – as usual, the app only uses your network!
            </i></p>
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goFaucets()">
                <div class="text">
                    <span>Back</span>
                </div>
                <div class="clone">
                    <span>Go</span>
                    <span>Faucets</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
            As I already mentioned, Honeygain is completely free. Once you install it, you need only open the Lucky Pot 
            once per day (and it is not even neccessary). All you need to do is collect 20$, and you can withdraw. 
            Depending on your network, referrals, number of devices and luck, you can actually make a decent passive 
            income from this project. I, for instance, am depending mainly on my two devices - mobile and lap-top. And 
            have still managed to withdraw once. <br>
            Good luck!
        </p>
        <div class="book">
            <p>17.8$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://r.honeygain.me/BGOUTE2161">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()">
            Submit
          </button>
</section>
<section class="guestComments">
    <h3>Comments</h3>
    <p class="avRate">Avarage rate: 
        <img [src]="ratings" alt="">
        <img [src]="ratings" alt="">
        <img [src]="ratings" alt="">
        <img [src]="ratings" alt="">
        <img [src]="halfRatings" alt="">

    </p>
    <div class="allComments">
        <div class="guestDetails">
            <p class="name">Vlad</p>
            <span class="guestRating"><img [src]="ratings" alt=""><img [src]="ratings" alt="">
                <img [src]="ratings" alt="">
                <img [src]="ratings" alt="">
                <img [src]="ratings" alt=""></span >
        </div>
        <p class="comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex ut rem aperiam, blanditiis, debitis ratione vero atque voluptatem animi autem error perspiciatis, recusandae quibusdam deserunt delectus fuga minus voluptatibus explicabo!</p>
    </div>
    <div class="pagesMenu">
        <div class="pagesNav">
            <svg>
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div class="pages" *ngFor="let p of commentPages; let i = index">{{i+1}}</div>
            <svg>
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        
        <div class="page">Page</div>
    </div>
    
</section>
