
h2 {
    color: goldenrod;
    margin-top: 5rem;
    text-align: center;
}

h2:hover, h4:hover, h3:hover {
    color: gold;
}

.logo {
    height: 12.5%;
    width: 12.5%;
    margin: 0 auto;
}

.logoContainer {
    text-align: center;
    margin-bottom: 2rem;
}

.quote {
    color: lightcoral;
}

.quote:hover {
    color: coral;
}

.companyStatement, .myStatement {
    background-image: url('../../../assets/backgrounds/darkdenim3.png');
    padding: 1rem 1rem;
}

h4, h3{
    color: goldenrod;
}

h3 {
    text-align: center;
}


.cStatement, .mStatement {
    color: lightcoral;
    padding: 1rem 2rem;
    border: 1px dashed lightgray;
}

.emp {
    color: gold;
}

.column1 {
    color: lightcoral;
    width: 30%;
    margin: 0 auto;
    border: 1px dashed turquoise;
}


.def {
    color: lightcoral;
    padding: 1rem 2rem;
}

li {
    padding: 1rem 0;
    margin: auto;
    width: 50%;
}

li:hover {
color: coral;

}

.wallpaper {
    width: 60%;
    margin: 2rem auto;
}


.listCont {
    display: flex;
}

.potCont {
    margin: 0 auto;
}

.honeyIps {
    width: 75%;
}

.honeyPot {
    width: 4.5rem;
    height: 70.3%;
}

.honeyPotRow {
    width: 6rem;
    padding-top: 2rem !important;
}

.tipsH {
    margin-top: 2.5rem !important;
}

