

<h2>Honeygain</h2>
<div class="logoContainer">
    <img class="logo" [src]="honeyGain" alt="Honeygain's logo, a bee">
    <p><i class="quote">"With Honeygain, you can make money by simply sharing your Internet. Start earning now."</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Start earning with Honeygain, and use the money to pay for a streaming platform subscription, 
        unlock exclusive content on free-to-play video games, or simply treat yourself with a little online 
        shopping spree. After all, you’ll earn free money with Honeygain!
        Honeygain ensures that your internet traffic is only used by trusted partners, and the app never asks for or 
        gains access to the storage of your device.
        Once you start using Honeygain, your devices act like view towers and help world-famous businesses access 
        the World Wide Web without having to worry about location-based restrictions or censorship.
        "
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "Honeygain is my first side hustle. When I decided to give it a try, I already knew I wasn't going to earn much. 
        But <i class="emp">Honeygain</i> doesn't require any effort, nor does it slow down your devices or spend a lot of electricity.
        You just need to register and download it on your computer and mobile device (or tablet). After that it starts 
        using a small portion of your <i class="emp">unused MB</i> of internet and generates some income. The more devices you connect - 
        the better your income. But every device must use a <i class="emp">different IP</i> (or be connected to a different network). You can't 
        use many devices, connected to the same Wi-Fi for istance. Currently I've connected 2 devices and managed to reach 
        the <i class="emp">minimum withdrawal limit of 20$</i>. I have successfully received my earnings to Paypal.
        "
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Connect more devices (with different network IPs)</li>
                    <span>
                        <img class="honeyIps" [src]="honeyIps" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Open daily pot of honey (bonus)*</li>
                    <span class="honeyPotRow">
                        <img class="honeyIps honeyPot" [src]="honeyPot" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Enable JumpTask** (this way you will earn more, but in the form of Jump Tokens)</li>
                    <span>
                        <img class="honeyIps" [src]="honeySpeed" alt="">
                    </span>
                </div>
                <div class="listCont">
                <li>Enable Content Delivery*** (accessible only in certain locations)</li>
                <span>
                    <img class="honeyIps" [src]="honeyLoc" alt="">
                </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img [src]="honeySofa"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p><i>*If you manage to share at least 15 MB daily, you unlock the Honey Pot, which can provide you from 
                0.005$ to 10$. But, know this, my biggest win at the current moment is 0.5$. Usually, it provides between 
                0.005$ to 0.015$. Still, there is the chance of a big win, and it takes no more than a minute of your time.
            </i></p>
            <p><i>**JumpTask is a partner of Honeygain. It is a different platform, in which you can earn more passive income
                by completing tasks. JumpTask has its native token - JMPT, which is not launched in the official blockchain,
                but still has a certain value. If you decide to use Honeygain's partnership with JumpTask, you will receive 
                a 10% bonus.
            </i></p>
            <p><i>***Content Delivery is yet another way to share your Internet connection. 
                It includes multiple types of bandwidth-intensive content such as images, videos, audio, streaming, 
                heavy websites, IPTV, VOD, social media, or VoIP services. No, your device storage will not be accessed 
                – as usual, the app only uses your network!
            </i></p>
        </div>
    </div>

</section>
