
<h2>Neoflojd</h2>
<div class="logoContainer">
    <img class="logo" [src]="neoflojd" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"Spend your time as you please! And get money from us!"</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "You need to do two things! And the system will earn you money. Several types of income.
        You register, study the site, your personal account, start earning money by watching surfing and inviting 
        referrals to the project, and once a month you buy a Subscription by paying 100 TRX. Monitor the growth 
        of your earnings. And from the 1st day of the next month, withdraw your earnings! 
        You can track up-to-date information on your earnings every day.
        "
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "
        I will be honest. I have some experience with the administration of this platform and it is mostly possitive. They 
        have another platform, from which I earned more than 450$ in TRX (Tron), but I've also invested that much. 
        The platform (nftferma.com) currently is not paying regularly and it's miners` productivity has been reduced 
        drastically. It has its own article in my blog - you can check it 
        <a class="blogLink" routerLink="/cloud-mining/nftferma">here</a>. The old project is not dead, and we are still 
        expecting its upcomming update. Meanwhile, a new project, called <i class="emp">Neoflojd</i> has emerged. I did not 
        like it a lot at first, because it depended on constant affiliare recruiting and it was a pyramid-like structured, but 
        after the recent updates, I decided to give it a try. The platform shares its wealth amongst every participant and 
        depends on the cummulative effort of every user to attract new members. It is bound to break at some point, when no 
        new users are attracted, but that seems to be in the far future (hopefully). It is still a pyramid, but of the good 
        sort, where you don't neccessary need to be the pharoah to earn. 
        "
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Register, explore (choose Language)*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="reg" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Pay your monthly subscription**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="subs" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Earn (automatically) and withdraw***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="earn" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="neoflojd_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p><i>
                *The registration process is very easy and you can have as many accounts as you please. You just need 
                a different e-mail for each. You can choose between several different languages to the one, that suits you 
                the best. The platform is easy to use and with a simple, yet pleasant design and you will find your way 
                arround. The instructions and explanations on the website are short and comprehansible.
            </i></p>
            <p><i>To actually earn from the platform, you need to pay the monthly subsription 
                <i class="emp">fee of 100 TRX</i>. At the end of the month, you collect your accumulated reward of 
                maximum <i class="emp">180 TRX</i>. To increase the revenue, you can create additional accounts and 
                browse websites (PTC). 
            </i>
            </p>
            <p><i>***The automatically generated revenue is due to the websites activity in recruiting 
                new users. Everytime a user pays, 1% of the ammount is distributed to some of its already registered users. 
                If you're one of the lucky ones, you get 1 TRX, up to 180 TRX monthly. You can withdraw your earnings at the 
                beginning of the next month. 
                <i class="emp">Working together and attracting new users helps the whole platform and everyone 
                    in it.</i>
            </i></p>
            <span class="gl">Good luck!</span> 
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Investments</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
          Eventhough I didn't like the platform at first, I've changed my mind, because I've seen the potential and other 
          aspects of it. Maybe I should've trusted the adminstration more at first. But it's not too late to join, the project 
          is quite new (started on 15th October, if I calculcated correctly) and is a fresh new concept of an affiliate network. 
          Once again, you're <i class="dng">not required</i> to invite people to earn, but it is 
          <i class="emp">highly recommended</i> for the future of the project and your earnings as well. I will keep constantly 
          updating this article.
        </p>
        <div class="book">
            <p>~4.2$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://neoflojd.com/i/16">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

