
<h2>NftFerma</h2>
<div class="logoContainer">
    <img class="logo" [src]="nftferma" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"Economic simulator of an oil worker"</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Welcome to our game, after registration, all players are awarded one level 1 well, 
        thus you can earn money in the game without investment.
        We opened on March 19, 2023. There are 4 types of wells available in the project, 
        with the possibility of upgrading to level 7. We often hold competitions for 
        referrals and investors, with good rewards. Marketing is thought out to the smallest detail, 
        choose your strategy and earn money. 
        "
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">NftFerma</i> is a Russian project and one that might seem suspicious at first. 
        I decided to give it a 
        try and it has proved to be a serious project, that has payed me in the duration of 6 months. 
        The investment currencies is <i class="emp">Tron (TRX)</i>The platform is 
        very user-friendly, the community is pleasant and the administration is awesome. The ROI is not that high as in 
        many other projects, but it is still on a good level and you can return your investment in 3-4 months. There are 
        many games, competitions and bonuses in this project, so if you are active, you can earn great rewards. Recently 
        there has been a crisis, though, but the project survived and the administration are perfoming updates and changes, 
        so NftFerma can continue it's journey to becomming one of the best crypto-mining strategy-based economic
         simulators out there. 
        "
        
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Make a good investment strategy*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="strategy" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Upgrade your financial assets**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="economy" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Get bonus rewards, win competitions, complete quests***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="awards" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="nftferma_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p class="tm">
                <i>Some of the icons, I've used for the <i class="emp">Tips</i> section are <i class="emp">NftFerma's</i> original images. 
                I did not create or own them.</i>
            </p>
            <p><i>*I strongly recommend a good <i class="emp">investment strategy</i>. I've been investing for 6 months
                 and the project has been paying daily. But recently, there have been changes and the platform has shown 
                 more econimic-based characterisics, which require more strategic thinking. Currently the project does not 
                 allow more than 200% ROI. When you double your earnings, your account gets restarted and you start from 
                 beginning. You need to buy Oil Wells, upgrade them and so on. Supposedly, when you reach 100% ROI, your 
                 wells <i class="emp">dry-up</i> and you will need to find another source of income. There is a new section 
                 of the game, called <i class="emp">"Deposits"</i> and it provides the means to complete your strategic 
                 investment and double your funds. The strategy I recommend is checking the <i class="emp">"Well Exchange"</i>
                , which is an auction for <i class="emp">Oil Wells</i>, find offers from other players with a discount and 
                buy some assets. You should plan ahead and know how much you want to invest. After you reach your limit, make 
                sure all your Oil Wells are at least <i class="emp">Level 2</i>. Because when they dry-up, you won't be able 
                <i class="emp">sell them</i> in the "Well Exchange". When the dry-up occurs, you just need to sell your Oil 
                Rigs and use the received <i class="emp">TRX (Tron)</i> to <i class="emp">invest</i> in the "Deposit" section. 
                You can not directly withdraw that amount, because it is going to be in your <i class="emp">'For shopping'</i> 
                wallet, but you can invest them and receive daily income between <i class="emp">0.1% - 1.5%</i>.
            </i></p>
            <p><i>**Upgrading your <i class="emp">Oil Wells</i> is quite important. You get <i class="emp">better ROI</i> 
                (in %) and you can also sell them, later on, when they dry-up. Their new owner will receive them 
                <i class="emp">full, not empty</i>, so they won't lose anything. But you can not sell a 
                <i class="">Level 1</i> Oil Well. It needs to be <i class="emp">at least</i> Level 2.
            </i></p>
            <p><i>***The project is full of bonuses. Such as <i class="">Daily bonus</i>, 
                <i class="emp">Withdrawal bonus</i>, <i class="emp">Investment bonus</i> and many more. There are also 
                <i class="emp">Contests (Investment, Referral)</i>, <i class="emp">Promo Codes</i> in the Telegram chat 
                (on the holidays), as well as <i class="emp">Quests</i> (some of which provide a lot of TRX). They all 
                depend on your activity in the platform, and increase proportionally with it.
            </i></p>
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Cloud-Mining</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
           <i class="emp">Nftferma</i> is one of my favourite projects. At first, I did not invest a lot, but won a lot 
           of <i class="emp">Promo codes</i>, which boosted my income. After a while, I decided to give it a try and 
           invested a significant amount of Tron, but that is because I started to trust the project. The adminstration was 
           very helpful and active along the way. Currently, I've returned my investment and will start to earn net value. 
           Still, the project is <i class="emp">not without risk</i>. I always plan my investment, acknowedging the
           <i class="emp">risk factor</i>. But the project proved to me, that it has a long-term vision, and even though it 
           has changed and become harder to earn from, I believe it is a good change, because it involves more economic and 
           strategic thinking from it's participants and goes through the evolution of becomming a more stable platform.
           <span class="gl">Good luck!</span> 
        </p>
        <div class="book">
            <p>469$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://nftferma.com/i/628">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

