
<h2>Black Box Revoluton</h2>
<div class="logoContainer">
    <img class="logo" [src]="bbox" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"Black Box Miner by Token Black Box - 
        A smart and sustainable way to grow your BNB on the Binance Smart Chain."</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Black Box Miner is a decentralized mining built on Binance Smart Chain. 
        The object of Mining is hiring More Miners to increase your Miners (Stake + BNB).
        These miners work for you tirelessly and pay you a daily average of 3% of the value of your miners. 
        Purchased with BNB Until you reach 200% of your investment. 
        <br>
        Mining efficiency rate rises and falls as the price of BNB in ​​the market BNB reward.
         Once miners are hired, they cannot be sold and the investment to buy (either by deposit or composition) cannot 
         be recovered. However, once purchased, miners will not stop producing yield. until you get your 200%
         <br>
         Development fees will also be used in Miner pools to increase contract balance and contract duration. 
         Contract with HUGE self-sustainability."
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">Black Box Revoultion</i> seems to me like a promising new platform. It has good and reliable 
        administration, which provides a good customer service. The thing I like most about it is its transparency, 
        honesty and strategic long-term design. Still, it is a new platform, which carries the spirit of 
        crypto investment and is suitable for serious people, who want to involve themselves in the world of 
        crypto staking and mining. As every investment platform, the users have to decide if they want to tag-along and 
        acquire 'shares' or in this case <i class="emp">'miners'</i>, which provide daily revenue. There are some specifics about this 
        platform and I will explain them below. Overall I find it interesting and promising, dependant on good 
        administration and serious investors. It is relatively new and if handled well,
        has the potential to evolve into something big."
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Connect your wallet (pref. MetaMask)*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="reg" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invest / Hire miners**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="miners" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Withdrawal / Compound every 24h***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="withdraw" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Join Telegram group / Get bonuses ****</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="bonus" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="bb_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p><i>*The registration process is simple and straightforward. To participate, you need to connect your wallet 
                (preferably MetaMask - has lower taxes) and you are prompted to do so on loading the website in your 
                browser. It is not difficult, you just need to have an account and need to be on BSC network. If you don't have 
                a wallet, you can check my <a class="blogLink" routerLink="/">homepage</a> for available options. For this platform, it is recommended 
                you choose <i class="emp">MetaMask</i>.
            </i>
           </p>
            <p><i>**The investment process is also easy and straight-forward. You just need to plan the amount of BNB you want to 
                invest (30 BNB max, 2$ in BNB min). You are prompted to accept the transaction in MetaMask (you still need to have some 
                BNB in the wallet to perform this action) and after accepting the transaction, you hire miners in the website. 
                I've tested it and it works. If MetaMask provides an error, you can try to change the 
                <i class="emp">Gas Fee</i> by click on <i class="emp">Site Suggested</i> and choose one of the other standart 
                options - for example <i class="emp">Market</i>. They can be found in MetaMask during any transaction, just search 
                for <i class="emp">Site Suggested</i> and click it.
            </i></p>
            <p><i>***After investing, the <i class="emp">timer</i> starts counting-down from 24h and the next day you will be provided 
                with two options - <i class="emp">Withdraw</i> and <i class="emp">Compound</i>. There are some specifics here. <br>
                <i class="emp">Withdraw</i> - you can use this option and will instantly receive the amount in your wallet 
                (after confirming the transcation), but if you try to withdraw the next day, you might see a 90% tax accompanying 
                this option. This is made to secure the longetivity of the miners and is part of the strategic design of the 
                platform itself. So don't let that bother you. Instead, you should "Compound".
                <i class="emp">Compound</i> - or 'reinvest'. This option will trigger a new transaction in MetaMask (you still have 
                to pay the gas fee), and leads to reinvesting your daily earnings to your total deposit capital. In example - you've 
                invested 10$ in BNB crypto currency. The daily yield is <i class="emp">3%</i>. You receive ~0.3$ daily. If you 
                <i class="emp">compound</i> 3 days, your total investment will become 10$+3x0.3$ = ~11$. Why is this important? Your 
                miners have limited <i class="emp">"life"</i>. They will work until they've reached 
                <i class="emp">200%</i> of their initial value. If you increase that initial value strategically, your miners 
                will live longer. 
                <i class="dng">Don't abuse it, though</i>.
                 Compounding has also provides a cummulative  
                <i class="emp">1% bonus</i> every day (up to 10%), which is refreshed after a successful withdraw. 
                
            </i></p>
            <p><i>****Joining the <i>official Telegram channel</i> will help you understand more about the project, be eligible 
                to big bonuses, participate in discussions, meet the admins and more. Also, you can ask any questions there. The 
                project is Spanish, but don't let that stop you. Telegram has a build-in translator. <br>
                Some of the other bonuses in the platform is the <i class="emp">Lottery</i> and 
                <i class="emp">Highest Investor Competition</i>, which can provide nice bonuses, when you invest. For 
                every <i class="emp">0.01 BNB</i> you invest or compound, 
                you receive a <i class="emp">Lottery ticket</i> (max 50). 
            </i></p>
            <span class="gl">Good luck!</span> 
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Cloud-Mining</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
            I've invested 15$ in this platform and have managed to withdraw once, just to test it's functionality and if it 
            works. The withdraw was successful, but afterwards I decided to use the <i class="emp">compound</i> option with 
            the idea to increase my total balance and thus my daily earnings. I believe that if you should give this platform 
            a try, you should balance between the both options - <i class="emp">withdraw</i> and 
            <i class="emp">compound</i>. There are big bonuses from time to time, and currently I've increased my 
            <i class="emp">Treasury</i> to <i class="emp">0.18 BNB (~56.5$)</i>. This will increase my daily earnings in the 
            near future. I think the project is fairly stable. But if you decide to invest, please do it on your own risk.
        <div class="book">
            <p>~1.35$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://rebolution.black.boxminerblack.online?ref=0x065C57662E36132dE9Feb0b0C1AD978de9614883">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

