
<h2>F2Hash</h2>
<div class="logoContainer">
    <img class="logo" [src]="f2hash" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"F2Hash provides state of the art solar powered bitcoin mining in the tropics. 
        The best platform to earn safely and fast.

        "</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Mining is the process of creating new cryptocurrencies that are added to the blockchain. 
        Powerful hardware such as ASICs are used to perform complex calculations which then generate bitcoins as a reward.
        These machines are quite expensive and require technical knowledge and space.
        F2Hash provides miners with state of the art hardware powered by over 1.2 MegaWatts of solar power. 
        Currently we have a total of 27,000 Bitcoin mining devices producing 3.78 EH/s. 
        Therefore you can mine conviniently and profitably anywhere with just your device.
        "
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">F2hash</i> has a serious marketing presence. There is a a lot of information in the social media,
         and they even got a LinkedIn profile. Despite this significant background and a lot of solid information, F2Hash 
         suffers from a lot of negative reviews. Still, my personal experience with the platform is possitive for the 
         current moment, and I've been able to withdraw money. The idea, that you are investing in solar bitcoin mining in 
         the tropics, seems very attractive and even though it <i class="dng">might prove to be a scam</i> , 
         I've currently decided to <i class="emp">invest</i> 
         a small amount and see how it goes. Still, I simply <i class="dng">can't recommend investing a large amount</i> ,
          before you are sure 
         for yourself, this is a legitimate company.
        "
        
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Check for more information online*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="info" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Choose a package**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="package" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Withdraw / Reinvest***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="economy" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="f2hash_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p class="tm">
                <i>Some of the icons, I've used for the <i class="emp">Tips</i> section are <i class="emp">MineLab's</i> original images. 
                I did not create or own them.</i>
            </p>
            <p><i>*You should check for additional information, because even though, I have 
                <i class="emp">returned my initial investment</i> from <i class="emp">F2Hash</i>, this doesn't mean that they are 
                completely legit or paying everyone. I've read so many complaints online, that I just <i class="">can't recommend</i> 
                it with a clear conscience. There is also the <i class="emp">chance</i> / <i class="dng">risk</i> that the 
                platform pays only the first few times to lure you into investing more, and after that they ghost you. So, 
                <i class="emp">Please, be careful and do a thorough research!</i>
            </i></p>
            <p><i>**If you do choose to try your luck and invest in <i class="emp">F2Hash</i>, you will have to choose a 
                suitable package. Upon registration, you receive a free package to test out how 
                <i class="emp">the system works</i>. You'll get some bonus $ as well (6.2$ if I am correct). 
                But you won't be able to withdraw them. Not unless you buy a package and start your investment journey with 
                them. The package, I bought was <i class="emp">50$</i> and yields <i class="emp">0.72$</i> per day. It is the
                 cheapest of the packages, next one is 200$. Most of the packages are active for an year, after bought, but 
                 the most expensive ones are quicker. 
                 But, please, <i class="emp">be careful</i> and don't make quick 
                 decisions. Invest on 
                 your own risk and only the amount you can afford to lose.
            </i></p>
            <p><i>***If you've decided to give <i class="emp">F2Hash</i> a try and bought one of their packages, there will 
                come the moment, when you'd collected the minimum withdrawal amount of <i class="emp">50$</i>.
                 When this happens, you'll have to send it to your
                <i class="emp">balance</i> in the platform and from there decide what to do with it - <i class="emp">withdraw</i> 
                or <i class="emp">reinvest</i>.
            </i></p>
            <span class="gl">Good luck!</span> 
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goCloud()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Cloud-Mining</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
          When I was just starting to search for investment options online, with the idea of generating some passive income, 
         I found F2Hash. I think I read about it in a Reddit post. I did not invest in it immediately, but tested its functionality.
         I did not want to risk 50$. But months later, when I had more money to spend, I decided it might be worth the risk and 
         <i class="emp">bought the Started Package</i>. I was expecting to reach minimum withdrawal of 50$ in three or so months.
         But during that time, I read some <i class="dng">very negative</i> posts online and got scared for my investment. But, 
         there was nothing more to lose, so I just <i class="emp">hoped for the best</i> and, indeed, when I tried withdrawal, 
         I <i class="emp">received</i> 50$ in my wallet. I was quite happy, I could pay some expenses for my birthday, which was 
         on the next day. This doesn't mean that I vouch that the platform works on 100%. I am just saying, that I've managed to 
         receive money from it. It might be a singular occasion, but I will most surely update this article, when I try to 
         withdraw a second time.
        </p>
        <div class="book">
            <p>50$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://my.f2hash.com/invite?ref=73e311fe">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments <= 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of pageListComments">
        <div class="guestDetails">
            <p class="name">{{g['nick']}}</p>
            <span *ngIf="g['rating'] > 0" class="guestRating">
                <img *ngIf="g['rating'] > 0" [src]="ratings" alt="">
                <img *ngIf="g['rating'] > 1" [src]="ratings" alt="">
                <img *ngIf="g['rating'] > 2" [src]="ratings" alt="">
                <img *ngIf="g['rating'] > 3" [src]="ratings" alt="">
                <img *ngIf="g['rating'] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{g['comment']}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

