
<h2>TeaserFast</h2>
<div class="logoContainer">
    <img class="logo" [src]="teaser" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"TeaserFast.ru is a tool for finding clients in any area of business: 
        subscribers, referrals, buyers, investors, players, partners.
        "</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Why do clients choose us?
               An expanded system for selecting target audiences
                 will make your advertising more effective.
                 All users will see your advertisement, regardless of the ad blocker 
                    installed in their browser.
                Using various parameters and filters, you can control the intensity of advertising.
                An intelligent protection system ensures that your ads are viewed only by real people.
            User-friendly interface: 
               An intuitive interface allows you to instantly start placing ads.
            Detailed statistics: 
                A complete analysis of an advertising campaign allows you to 
                control and improve the effectiveness of advertising."
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "In the point of the view of the client, you have 3 options to earn here. Two of them are connected with the 
        installation the browser extension.
        At first, I though it was going to be bothersome to have non-stop pop-ups. And, yes, quite frankly it is not for 
        everyone. I tend to use the extension, while I browse other PTC websites, or surf Shortlinks. It is perfect in 
        these scenarios. Pop-ups are not unpleasant, require very little attention and provide nice bonuses in the form 
        of Rubles. There are two type of pop-ups - a regular one, in which you are asked to visit a website for 10-20 sec.,
         (after which you are rewarded), 
        and a "teaser" pop-up, which is a small window a timer (and you decide if you want to visit the website or not). 
        And the third option for earning is watching short 15-30 sec. videos on the 
         website platform. These videos are not very rewarding, but still give a small bonus (similar a small pop-up). <br>
         <i class="emp">You can also advertise on the platform.</i>"
        
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Manipulate browser extension to your liking*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="config" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Use browser extension in a convenient moment**</li>
                    <span class="tipsIcon">
                        <img class="mark bExt" [src]="mark" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Watch some videos when you got the time***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="ytube" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends / Acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="teaserWall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p class="tm">
                <i>Some of the icons, I've used for the <i class="emp">Tips</i> section are <i class="emp">TeaserFast's</i> original images. 
                I did not create or own any of them.</i>
            </p>
            <p><i>*You can pin the browser extension in your browser, so you can the timer of the standart pop-ups. Also 
                you can easily pause the extension in a crucial moment, when you certainly don't want pop-ups disturbing 
                you. The extension provides details on your current earnings and you can use it to access the platform and 
                withdraw.
            </i></p>
            <p><i>**You can activate the extension when you decide to surf the web, complete some tasks (it runs well with 
                other PTC surfing and Shortlinks), and when you are not doing some important work, that requires 
                concentration. Otherwise, it is quite intimidating. 
            </i></p>
            <p><i>***In the <i class="emp">TeaserFast</i>'s website you can watch some youtube videos for extra rewards. 
                Some of the videos are even interesting. They are quite short, usually a preview (~15-30 sec.), and the 
                rewards are not that high. There are ~50 videos per day. If you have spare time, you can give them 
                a look. 
            </i></p>
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span>Back</span>
                </div>
                <div class="clone">
                    <span>Side Hustles</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
            <i class="emp">TeaserFast</i> can be used to advertise your own projects and links for a good price. 
            Otherwise you can always use it to gain some spare cash in the form of Rubles, which you can invest in some 
            other projects and increase your overall earnings. Once again, you won't earn much, but you can earn
             10-30 Rubles a day, 
            without much effort, which tends to pile up. Anyway, if you use TeaserFast in combination with other small 
            side-hustles it becomes more attractive. I recommend using it with <i class="emp">FireFaucet</i> and 
            <i class="emp">adBTC.top</i>. This way you can 
            earn some extra cash, with which you can start your crypto journey. If you use those three in combination, 
            you might reach ~1$ daily, but on the condition, that you invest more effort. I know, that sounds pretty low, 
            but if you are starting from 0, it is actually quite helpful. 
            <span class="gl">Good luck!</span> 
        </p>
        <div class="book">
            <p>~1.56$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://teaserfast.ru/u/VladislavKostadinov">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>
