
<h2>Tron1477</h2>
<div class="logoContainer">
    <img class="logo logo1477" [src]="tron" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">" We invest in DeFi companies and projects because we believe that the future of 
        finance is decentralized.
        "</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "<i class="emp">Tron1477.com</i> is the online platform of the <i class="emp">GIC Private Limited</i> company, 
        a leading provider and manager of crypto and DeFi investment products. Our company has been successfully operating 
        in the marker for more than seven years. The launch of the online platform GIC Private Limited is an important step 
        in the development of the company. <br>
        We are 
        advocating open-source, community owned and blockchain based financial solutions. <br>
        CIG Private Limited aims both to strenghten the investment potential of our company and enable thousands of users 
        to earn on cryptocurrencies with a strong and reliable partner like us. <br>
        Our platform is a great combination of privacy and publicity. Publicity lies in the complete transparency, 
        predictability and the automation of the company's work. Privacy guarantees the complete anonymity of our customers 
        and partners as well as their ability to decide when and how much to invest.
        "
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "When I found this new platform, I was a bit sceptical. After I registered, due to curiosity, I found out that is 
        very <i class="emp">well made</i> and that it (currently) <i class="emp">pays</i> everyday. To test the latter, I had to deposit a 
        small amount of Tron (TRX), because the platform operates with this <i class="emp">crypto currency</i>. It has a 
        nice ROI ~7% and two types of investment - <i>Basic (Wallet Account)</i> and 
        <i class="emp">Promotional (Promotional Account)</i>. My overall opinion of the project is good, I think it might 
        actually be a <i class="emp">decent project</i>, but it still holds <i class="dng">significant risk</i>. I would 
        <i class="emp">plan my investments</i> carefully, proceed with caution and most definitely not 
        <i class="dng">invest recklessly</i>. The project is new and not that <i class="emp">famous</i> and 
        <i class="emp">popular</i>, but it is quite 
        user-friendly and responsive. It is a nice <i class="emp">Side Hustle</i> with <i class="emp">potential</i> to 
        grow into something more. 
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Register, explore and make an investment*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="reg" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Collect your earnings every day**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="withdraw" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Contact support / participate in group chat***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="group" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="ref" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="tron1477_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">            <p class="tm">
            <i>Some of the icons, I've used for the <i class="emp">Tips</i> section are 
            <i class="emp">tron1477's</i> original images. 
            I did not create or own them.</i>
        </p>
            <p><i>*The platform is created as a <i class="emp">mobile app</i> template. And, I admit, I find these kind of 
                platforms very <i class="dng">risky</i>. Most of the time, I don't invest in them, because they turn out to 
                be a <i class="dng">scam</i>. I decided to invest a small amount in this one, because of their detailed 
                description in the <i class="emp">About Us</i> page. There is a probability it 
                <i class="dng">might not be true</i>, but still, the <i class="emp">chance</i> it might be actually correct,
                <i class="emp">exists</i>. But why would a company create such a <i class="emp">mobile app looking</i> 
                platform is not very clear, except, the option, maybe in the future, of a <i class="emp">major update</i>, 
                if the platform does well. These are just my <i class="emp">hopes</i>. The project, though, is not bad, and 
                hold some characteristics of something <i class="dng">serious</i>. After you make an 
                <i class="emp">investment</i> (the process is quick), you can try the <i>daily withdrawal</i>
            </i></p>
            <p><i>**Immediately after <i>investing</i>, you can try the <i class="emp">withdraw</i> and 
                test if the app <i class="emp">works.</i> And after that you can <i>withdraw</i> daily, while the amount 
                depends on how much you've invested. That is the "Main Wallet" functionality, while the 
                <i class="emp">Promotional Wallet</i> gives the opportunity to stake the amount of your choice on 
                different plans (each with different ROI and lifecycle). I've currently tested only the basic functionality, 
                but I learned, that you can transfer funds from promotional to main balance. That might be useful, if you 
                want to increase the TRX in yout <i class="emp">Basic Wallet</i>, but don't want to make a new deposit. In 
                this case, if you have TRX in the Promotional Wallet, you can stake it and after the cycle, send the 
                earnings to your main wallet.
            </i></p>
            <p><i>***If you have questions, you can always contact the support in Telegram and receive assistance. You can 
                also participate in the Telegram group, where there are contests, games, news and payment proofs.
            </i></p>
            <span class="gl">Good luck!</span> 
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Investments</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
         All together, I find the project <i class="emp">interesting</i> and fun, but I don't recommend investing large 
         amounts, before making your own research. If you decide to invest, <i class="dng">do it on your own risk</i> and 
         only an amount you can afford to lose. It is a rule in these kind of endaevours. I've currently invested 
         only<i class="emp">100 TRX</i> (first it was 30, but after I recovered most of it, I reinvested) and am earning 
         <i class="emp">7.05 TRX / day</i>. Despite not being much, it is a nice addition to my passive income projects, and 
         I plan to participate in <i class="emp">tron1477</i> and see where it goes. I just hope, it won't turn out to be a 
         <i class="dng">scam</i> like many other. If you are looking for a simple and light project, where you earn by clicking 
         on a button daily, you can give it a try. But <i class="dng">it does hold a risk</i>.
        </p>
        <div class="book">
            <p>~3$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://tron1477.com/#/pages/login/register?id=15148">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments <= 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2]?.slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>


