
<h2>BitsyPool</h2>
<div class="logoContainer">
    <img class="logo" [src]="bitsy" alt="Cloud Miner">
    <p class="welcomeQ"><i class="quote">"Mining Bitcoin is easy peasy on BitsyPool"</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Utilize your GPU and withdraw earnings to your FaucetPay account, it's that simple. 
        Claim extra rewards while mining to increase your earnings."
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "I've come across this online <i class="emp">Bitcoin Cloud Miner</i>. It looks simple and straightforward, doesn't 
        require any investment and doesn't overload your pc or lap-top. The mining process is simple, the platform pays and 
        it also has a faucet, which directly sends a small ammount of Satoshis to your FaucetPay BTC address. Payment is 
        instant and eventhough it doesn't pay much it can be a nice addition to your free-time side-hustles, if you decide 
        to give it a try. I like the straightforward and simple design of the platform."  
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Register with your FaucetPay BTC (Deposit) Address*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="register" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Activate the JavaScript and GPU Miner (or download miner app)**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="miner" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Use Faucet***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="faucet" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and aqcuire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="bitsyWall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p><i>*Registering is pretty straightforward. You provide your FaucetPay BTC (Deposit) Address and you're in. 
                You will need to have a FaucetPay account if you're to use the <i class="emp">Bitsypool</i> platform. 
                There is a link for <i class="emp">FaucetPay</i> on my 
                <i class="emp"><a class='homepagelink' href="/home">Homepage</a></i>.
          
             </i></p>
            <p><i>**You can immidiately activate the 
                <i class="emp">JavaScript (Browser Miner)</i>
                 and the <i class="emp">Embedded WebMiner</i> and 
                start earning some Satoshis. You need to earn at least <i class="emp">2 SATS</i> to be able to withdraw and it won't take 
                too long. 
                You can also download 
                <i class="emp">the GPU desktop miner</i>(which is faster) and start it (it starts in the console). There is a guide on the website 
                how to activate the dekstop miner and it starts working quietly, generating some SATS. Eventhough it does work 
                (the desktop app), I am not sure if I am going that far. And eventhough it doesn't overheat my lap-top it still 
                puts some burden, if I am currently using a lot of apps and programs, it does seem to generate some extra heat.
            </i></p>
            <p><i>***The <i class="emp">Faucet</i> can be used <i class="emp">every 10 mins</i>, if you've mined at least 
                <i class="emp">10 000 hashes</i>. It provides <i class="emp">1-2 SATS</i> directly into your FaucetPay account.
            </i></p>
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Side-Hustles</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
            I've just started using the app, because I read a good review, saw some payment proofs and checked the website, 
            which looked quite simple, straightforward and user-friendly. I've only withdrawn from the 
            <i class="emp">Faucet</i> three times, and I got 0.01$ successfully in 
            <i class="emp">FaucetPay</i>. I've also withdrawn from the miner and received an additional 
            <i class="emp">..</i>$. I am going to provide more feedback as soon as possible and deeper insight on how 
            profitable this platform can be. I don't expect too much profit, but it can still be a nice side hustle if you 
            have time to click on the miners and faucet from time to time (and if you don't get annoyed by the process).
           <span class="gl">Good luck!</span> 
        </p>
        <div class="book">
            <p>0.3$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="http://www.bitsypool.com/?r=1EHk4iQgp5P4pdNztZ1NsnNsjWi8tZSmva">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

