
<h2>Game of Thrones</h2>
<div class="logoContainer">
    <img class="logo" [src]="got" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"Game Of Thrones ֎ The official website of the HOB company 
        for bitcoin mining without investment"</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Welcome to the world of "Ice and Fire" - 
        a project that combines many ways to earn the most popular cryptocurrency 
        "Bitcoin" and is based on the principle of "Play and Earn". "Game of Thrones" is a bitcoin 
        mining simulator where you can earn bitcoins absolutely without investment and without any restrictions! 
        After registration, you are automatically connected to one of our many Bitcoin mining pools. We value your 
        time and are ready to reward you for every second of your time spent in the "Game of Thrones" universe.
         Complete various tasks to increase income, go through quests, browse sites, participate in contests, or 
         just enjoy mining. Your income is not limited by anything, everything depends on you and only on you! Valar 
         Morghulis!"
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">Game Of Thrones Mining Simulator </i> seems to me like a promising new platform. It has been 
        registered on 13th of September 2013 (as a domain) and has gained a lot of popularity recently. I am considering 
        investing a medium amount of cryptocurrency, because there a lot of proofs and it is currently paying. But there 
        is risk, because all 
        such platforms are dangerous. It can disappear at any time (I believe it will stay for a while, but I can't be 
        sure). It's ROI is not that high, but is reasonable. You get your investment back in a few months and after that 
        you earn net value. The platform is designed very well, it is beautiful, colorful and dynamic. I really like it. 
        The question here is - is it worth the risk? Will it remain paying for the next few months, so it's investors can 
        return their investment and even earn some extra? I decided to give it a try, because there are a lot of good 
        reviews, pointing out that the creators of the platform have good projects that are still paying. And I kind of 
        like the design and mechanics."
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Register and get a free commander*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="reg" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Deposit and buy new commanders (or equip them)**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="deposit" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>PTC / Offerwalls / Quests***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="quests" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Withdraw (frequently)****</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="withdraw" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="got_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p class="tm">
                <i>All of the icons, I've used for the <i class="emp">Tips</i> section are 
                <i class="emp">Game-Of-Thrones's</i> original images. 
                I did not create or own them.</i>
            </p>
            <p><i>*The registration process is simple and straightforward. After completing it, you will receive a 
                <i>free commander</i>. Commanders <i class="emp">generate passive income</i>. But do not expect your free 
                commander to generate much. You will receive more from PTC and Offerwalls than him. Still, he is a free bonus and 
                you can also equip him with items, followers, castles and even a dragon and increase him income significantly. 
                To equip him, you would need to invest, though, or collect by the above-mentioned methods, which might prove to be 
                a very slow process.
            </i>
           </p>
            <p><i>**<i class="emp">Making a deposit</i> or <i class="emp">investing</i> in this mining simulator will increase 
                your daily ROI. But not immediately. After deposit, you should spend your crypto on 
                buying <i class="emp">new commanders</i> or <i class="emp">equiping</i> your current ones. You can equip items, 
                followers, castles and a dragon to every commander, and the price of these 'equipments' depend on the 
                <i class="emp">rarity</i> of your commander. Stronger commanders provide more ROI per day, and also have 
                stronger equipment. Every equipment has a <i class="emp">life</i> and disappears, after reaching 200% of its 
                price. Commanders, on the other hand, are permanent. They do not expire. Make sure to 
                <i class="emp">collect your commander's ROI</i> every day, or the miner will stop after 24h, unless you collect it.
            </i></p>
            <p><i>***There are other sources of passive income in this platform, like <i class="emp">PTC</i>, 
                <i class="emp">OfferWalls</i> and <i class="emp">Quests</i>. I believe they are included, because the creators have 
                other projects, which have these options and decided to include them in their new one as well. Very good. 
            </i></p>
            <p><i>****I advise withdrawing <i class="emp">frequently</i>, if you decide to invest (just in case). You can 
                withdraw in FaucetPay or direct address (Bitcoin, Litecoin, Doge, Bitcoin Cash).
            </i></p>
            <span class="gl">Good luck!</span> 
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Cloud-Mining</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
          I've managed to withdraw (instant) 5$ to FaucetPay and I have seen payment proofs and found information, that it is currently paying. I believe it 
          to be trustworthy (the information). The project, on other hand, should be handled with caution, mainly because it is 
          in a dangerous field of operations - cloud mining and crypto investments. Still, I believe is it one of the good 
          platforms out there and you should give it a chance and decide for yourself if you are willing to invest and how much.
        <div class="book">
            <p>10$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://games-of-thrones.com/?ref=VladTaltos">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

