<h2>LegitDogeMining</h2>
<div class="logoContainer">
  <img
    class="logo"
    [src]="doge"
    alt="an abstract logo in the form a portal or gate"
  />
  <p class="welcomeQ">
    <i class="quote"
      >"You can sit back and relax while DogeSmartMine AI does the work to mine
      Dogecoin for you "</i
    >
  </p>
</div>
<section class="companyStatement">
  <h4>Company's statement</h4>
  <p class="cStatement">
    " Tired of old-school Dogecoin mining? Our next-gen Doge miners empower you
    to tap into maximum crypto potential.
    <br />
    LegitDogeMining's expert blockchain and hardware teams, with alumni from
    Harvard, Stanford, Cambridge and over 5 years of experience, built the
    proprietary DogeSmartMine AI system to enable fast, simple Dogecoin mining.
    <br />The intelligent DogeSmartMine AI system optimizes mining automatically
    for maximum efficiency and profitability. It gives users an easy way to mine
    Dogecoin without hardware or expertise. <br />
  </p>
</section>
<section class="myStatement">
  <h4>My point of view</h4>
  <p class="mStatement">
    "The reason why I've decided to give <i class="emp">LegitDogeMining</i> a
    try is because, from time to time, some new platforms emerge, that seem
    potentially good. Sometimes, I miss the start of these platforms, and they
    do prove to pay in the long term. I think LegitDogeMining is one of them.
    I've done some reasearch on their website and online and found good signs
    and reviews. Their platform is well-made, with a lot of explanations and
    good ideology. Also, some of the other more stable platforms, such as
    <i class="emp">TikMining</i>, provide positive feedback and advertise this
    platform in their global community chats. The <i class="emp">ROI</i> is
    reasonable and doesn't rise a lot of suspicion.
    <i class="emp">LegitDogeMining</i> might prove to be an interesting new
    project, but still, I'd advise you to be extremely careful if you decide to
    invest a lot of money. You should always do your own reasearch and plan your
    investments wisely."
  </p>
</section>
<section>
  <div class="tips">
    <h2 class="tipsH">Tips</h2>
    <div class="column1">
      <ul>
        <div class="listCont">
          <li>Register*</li>
          <span class="tipsIcon">
            <img class="honeyIps" [src]="reg" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Buy a Mining Package**</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="mine" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Bounty System***</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="bounty" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Collect rewards / Withdraw****</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="withdraw" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Invite friends and acquire referrals</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="refer" alt="" />
          </span>
        </div>
      </ul>
    </div>
    <div class="wallpaper">
      <img
        class="wallpaperImg"
        [src]="doge_wall"
        alt="different blockchain networks as cards"
      />
    </div>
    <div class="def">
      <p class="tm">
        <i
          >All of the icons, I've used for the <i class="emp">Tips</i> section
          are <i class="emp">LegitDogeMining</i>'s original images. I did not
          create or own them.</i
        >
      </p>
      <p>
        <i
          >*Registration is pretty easy and straight-forward. You'd find
          yourself within the boundries of the platform in no time. The whole
          project is simple to understand and the website is user-friendly. Upon
          registration, you do get a small bonus as to test the mining and get
          to know the application better. But don't expect to withdraw it,
          without investing at least 10$ first.
        </i>
      </p>
      <p>
        <i
          >**There are 8 different packages you can choose from, ranging from
          <i class="emp">10$</i> to <i class="emp">100 000$</i>. You can choose
          the one that suits you better and start earning. The
          <i class="emp">ROI period</i> ranges from
          <i class="emp">10 to 28 days</i>, but you can withdraw as little as
          <i class="emp">1$</i> on the very next day of your initial investment.
        </i>
      </p>

      <p>
        <i
          >***<i class="emp">LegitDogeMining</i> offers a rewarding
          <i class="emp">Bounty</i> system, you should definitely check.
          Providing possitive feedback, backed-up by proofs (of withdrawals),
          can lead to rewards on behalf of the organization. These tasks are
          standart - posting on forums, Social networs, Youtube, Trustpilot and
          more.
        </i>
      </p>
      <p>
        <i
          >****You'd be able to collect your first rewards and even withdraw
          them on the very next day of your initial investment. The
          <i class="emp">minimum withdraw is only 1$</i>. The better mining
          packages you buy, the greater the yield. But choose carefully and make
          up an investment strategy. You can always reinvest at some point, but
          don't forget to withdraw your income from time to time.
        </i>
      </p>
    </div>
    <div class="bToFauc">
      <button id="buttonBack" (click)="goInvest()">
        <div class="text">
          <span class="backBtnTxt">Back</span>
        </div>
        <div class="clone">
          <span class="backBtnTxt">Cloud-Mining</span>
        </div>
        <svg
          width="20px"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14 5l7 7m0 0l-7 7m7-7H3"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</section>
<section class="earnings">
  <h2 class="earningsH">My earnings</h2>
  <div class="earningsInfo">
    <p class="textInfo">
      My investment history with this new platform is pretty recent. Due to my
      financial situation, I can't afford to acomplish my personal plan of
      making an initial investment 50$ right away, but that is my future goal
      for participating in this project. After returning my initial investment,
      I'd reinvest and play safe. That is what I usually do. But now, I can
      afford to invest only ~10$, which is the minimum deposit. Still, I
      believe, I will be able to withdraw the very next day and continue the
      process with a slow but strady pace, until I get a better chance to
      increase my revenue with
      <i class="emp">LegitDogeMining</i>.
      <span class="gl">Good luck and invest safe!</span>
    </p>

    <div class="book">
      <p>~1$</p>
      <div class="cover">
        <p>Earnings</p>
      </div>
    </div>
  </div>
  <div class="goReg">
    <button class="regButton">
      <a
        class="regLink"
        target="_blank"
        href="https://legitdogemining.com/?ref=VladTaltos"
        >Get Started</a
      >
    </button>
  </div>
  <!-- <div class="extraNote">
    <p>
      Please choose me - <i class="emp">vladtaltos</i> as a referrer. Thanks!
    </p>
  </div> -->
</section>
<section class="comments">
  <h3>Comments section</h3>
  <div class="commentBox">
    <div class="guestName">
      <input
        class="nameInput"
        type="text"
        name=""
        id=""
        placeholder="Name / Nickname"
        [(ngModel)]="nickName"
      />
    </div>
    <div class="rating">
      <select
        #uRating
        class="stars"
        name=""
        id=""
        (change)="getRating(uRating.value)"
      >
        <option value="1">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <span><img [src]="ratings" alt="" /></span>
  </div>
  <div class="inputField">
    <textarea
      class="commentField form-control"
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Write a comment..."
      [(ngModel)]="comment"
      required
    >
    </textarea>
  </div>
  <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
    Submit
  </button>
</section>
<section class="guestComments" id="cmntSect">
  <h3>Comments</h3>
  <p *ngIf="numberOfComments < 1" class="noComments">
    There are no comments. Maybe you can add one?
  </p>
  <p
    *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0"
    class="avRate"
  >
    Avarage rate:
    <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 1" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 2" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 3" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 4" [src]="ratings" alt="" />
    <img *ngIf="ratingHalf" [src]="halfRatings" alt="" />
  </p>
  <div class="allComments" *ngFor="let g of numberOC; index as i">
    <div class="guestDetails">
      <p class="name">
        {{
          listOfComments[0].slice(
            this.currentPage * 3 - 3,
            this.currentPage * 3
          )[i]
        }}
      </p>
      <span
        *ngIf="
          listOfComments[1].slice(
            this.currentPage * 3 - 3,
            this.currentPage * 3
          )[i] > 0
        "
        class="guestRating"
      >
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 0
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 1
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 2
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 3
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 4
          "
          [src]="ratings"
          alt=""
        />
      </span>
    </div>
    <p class="comment">
      {{
        listOfComments[2].slice(this.currentPage * 3 - 3, this.currentPage * 3)[
          i
        ]
      }}
    </p>
  </div>
  <div *ngIf="!newComment && numberOfComments > 0" class="pagesMenu">
    <div class="currentPage">
      <span>Current page: </span
      ><span class="curPageNum">{{ currentPage }}</span>
    </div>
    <div class="pagesNav">
      <svg (click)="pageBackward()">
        <path
          fill="#f08080"
          d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"
        ></path>
      </svg>
      <div *ngIf="!multiplePage" class="singPages">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="i <= 2"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}
          </span>
        </div>
      </div>
      <div *ngIf="multiplePage" class="multiplePage">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="i <= 1"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}
          </span>
        </div>
      </div>
      <span class="medPages" *ngIf="multiplePage" (click)="choosePage()"
        >...</span
      >
      <div *ngIf="multiplePage" class="multiplePage">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="commentPages.length - 2 <= i"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}</span
          >
        </div>
      </div>
      <svg (click)="pageForward()">
        <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
      </svg>
    </div>
    <!-- <div class="page" >Page</div> -->
  </div>
</section>
