<h1>Page not found</h1>
<div class="bToFauc">
    <button id="buttonBack" (click)="goHome()">
        <div class="text">
            <span>Back</span>
        </div>
        <div class="clone">
            <span>Go</span>
            <span>Home</span>
        </div>
        <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
        </svg>
    </button>
</div>

<!-- <h1 class="welcomeBlog">Welcome to my website on <i class="special">Passive Income</i>.</h1>
<p class="warningBlog">Please, be advised. This website hold some risky investment projects and you 
  should know that some of them might turn out to be a fraud in the future.</p>
<p class="riskless">The ones that don't hold risk can be found in the Side Hustles page, but they provide 
  less income.</p>
<p class="warningBlog">Invest on your own risk</p> -->