<html lang="en" *ngIf="cloud">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloud mining</title>
  </head>
  <body>
    <section>
      <div class="cloudMiningDescription">
        <h2 class="cloudH">Cloud mining</h2>
        <!-- <img [src]="faucet" alt="a faucet" class="cloudImg"> -->
        <p class="cloudDef">
          What is Cloud mining? Cloud mining is the process of cryptocurrency
          mining utilizing a remote data center with shared processing power.
          This type of cloud mining enables users to mine bitcoins or
          alternative cryptocurrencies without managing the hardware. The mining
          rigs are housed and maintained in a facility owned by mining company
          and the customer simply needs to register and purchase mining
          contracts or shares. Since cloud mining is provided as a service,
          there is generally some cost and this can result in lower returns for
          the miner.
        </p>
      </div>
      <div>
        <h3 class="beWarnedCloudH">Warning</h3>
        <p class="beWarnedCloud">
          Cloud mining projects hold some risk (most of the time - significant),
          there are a lot of
          <i class="fFacet">frauds</i> and <i class="fFacet">scams</i>
          and many "companies" use the idea of Cloud mining to their advantage,
          offering fake mining power to the investors and divorcing (or leaving
          abruptly) quite often, contributing to a loss of capital for the
          users. Still, the idea is very attractive to the adventuruous and bold
          web dwellers, who are willing to take a risk with a promise of a
          generous ROI. But I've discovered that a big number of these cloud
          mining platforms are a scam. Always do your research, and only invest
          an amount you are willing to lose!
        </p>
      </div>
      <div>
        <div class="cloudHeader">
          <div class="gearbox">
            <div class="overlay"></div>
            <div class="gear one">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <div class="gear two">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <div class="gear three">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <div class="gear four large">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
          </div>

          <h2 class="myCloudsH">My Cloud Mining Platforms</h2>

          <div class="gearbox">
            <div class="overlay"></div>
            <div class="gear one">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <div class="gear two">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <div class="gear three">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <div class="gear four large">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
          </div>
        </div>
        <p class="myClouds">
          I've come accross many cloud mining platforms and I've tested a few,
          but I am very careful, because a lot of them are
          <i class="fFacet">scam</i>. When I think about it, maybe I've trusted
          my money in only ~ 5%-7% of them, and I still have doubts about their
          lifespan. Yet, I've found projects that have returned my investment
          completely and currently I am earning net value. It is hard to find a
          really stable project, and most of the people, who are surfing the
          cloud, already know that the future of such projects is almost 95%
          certain to fail. Some investors jump from project to project, invest a
          strategic amount in a new platforms, and after their first few
          withdrawals, they skip to different ones. That is not a bad strategy,
          but builds up tension and unease. You're never certain what will
          happen. The idea of a stable long-term project is the thing most of us
          are looking for.<br />
          Currently I've found 2 projects that I trust. I've returned my whole
          investment from them. Their names are
          <i class="gCloud">Nftferma</i> and
          <i class="warning">Minelab (this one proved to be a scam)</i>
          and you can learn more about them below.
        </p>
      </div>
    </section>
    <section>
      <div class="myCloudHustles">
        <h3 class="sideCloudH">My Cloud Mining:</h3>
        <div class="sideCloudCards">
          <!-- <div class="cloudyCard">
            <img
              class="cardLogo"
              [src]="nftFerma"
              alt="infinity sign 
                    (with flowers and vines on one its curved lines), held within a triangle"
            />
            <div class="card__content">
              <p class="card__title">Nftferma</p>
              <p class="card__description">
                Russian Oil mining simulator. You buy different oil rigs with TRX (Tron), but instead of oil, 
                        they provide you with TRX daily.
                        Has an awesome community, great administration and a lot of bonuses, promos and mini-games.  
                        Instant payments and smooth transactions.
                <i class="warning"
                  >I don't recommend investing at the current moment. The
                  platform is undergoing some technical work. Please, wait until
                  the future of this good project becomes clear. You can still
                  check out the review on my blog.</i
                >
              </p>
              <div class="cardBtns">
                <button class="btnLearnMore">
                  <a routerLink="./nftferma"
                    ><span class="btnLearnSpan">Explore</span></a
                  >
                </button>
                <button class="btnReg">
                  <span class="btnRegSpan">
                    <a target="_blank" href="https://nftferma.com/i/628"
                      >Register</a
                    >
                  </span>
                </button>
              </div>
            </div>
          </div> -->

          <!-- <div class="cloudyCard">
                    <img class='cardLogo' [src]="minelab" alt="A cube-type object">
                    <div class="card__content">
                      <p class="card__title">Minelab</p>
                      <p class="card__description">
                        Cloud mining platform from the UK. You buy TH/S mining power and get daily income. Has a high 
                        ROI (Return Of Investment) ratio. Is an AI-backed mining company, with more to it, than just the 
                        platform. Can cancel plan anytime with 20% fee.
    
                    </p>
                    <div class="cardBtns">
                        <button class="btnLearnMore">
                            <a routerLink="./minelab"><span class="btnLearnSpan">Explore</span></a>
                        </button>
                        <button class="btnReg">
                            <span class="btnRegSpan">
                                <a target="_blank" href="https://minelab.bz/?ref=11191">Register</a>
                            </span>
                        </button>
                    </div>
                    </div>
                  </div> -->

          <div class="cloudyCard">
            <img
              class="f2hashlogo"
              [src]="f2hash"
              alt="An abstract wolf's head on a dark fone"
            />
            <div class="card__content">
              <p class="card__title">F2hash</p>
              <p class="card__description">
                F2Hash provides miners with state of the art hardware powered by
                over 1.2 MegaWatts of solar power. Currently they have a total
                of 27,000 Bitcoin mining devices producing 3.78 EH/s. Therefore
                you can mine conviniently and profitably anywhere with just your
                device.
              </p>
              <div class="cardBtns">
                <button class="btnLearnMore">
                  <a routerLink="./f2hash"
                    ><span class="btnLearnSpan">Explore</span></a
                  >
                </button>
                <button class="btnReg">
                  <span class="btnRegSpan">
                    <a
                      target="_blank"
                      href="https://my.f2hash.com/invite?ref=73e311fe"
                      >Register</a
                    >
                  </span>
                </button>
              </div>
            </div>
          </div>

          <div class="cloudyCard">
            <img
              class="f2hashlogo"
              [src]="stormGain"
              alt="A digital lightning"
            />
            <div class="card__content">
              <p class="card__title">StormGain</p>
              <p class="card__description">
                StormGain is a convenient solution for those who want to profit
                from either the growth or decline of the cryptocurrency market
                and from long-term investments in crypto assets. It also offers
                a free cloud miner, which allows you to generate free crypto
                assets, used for trading.
              </p>
              <div class="cardBtns">
                <button class="btnLearnMore">
                  <a routerLink="./stormgain"
                    ><span class="btnLearnSpan">Explore</span></a
                  >
                </button>
                <button class="btnReg">
                  <span class="btnRegSpan">
                    <a
                      target="_blank"
                      href="https://app.stormgain.com/friend/BNS170653653"
                      >Register</a
                    >
                  </span>
                </button>
              </div>
            </div>
          </div>

          <!-- <div class="cloudyCard">
            <img
              class="f2hashlogo"
              [src]="got"
              alt="The text 'Game Of Thrones'"
            />
            <div class="card__content">
              <p class="card__title">Game Of Thrones</p>
              <p class="card__description">
                "Game of Thrones" is a bitcoin mining simulator where you can
                earn bitcoins absolutely without investment and without any
                restrictions! After registration, you are automatically
                connected to one of our many Bitcoin mining pools.
              </p>
              <div class="cardBtns">
                <button class="btnLearnMore">
                  <a routerLink="./got"
                    ><span class="btnLearnSpan">Explore</span></a
                  >
                </button>
                <button class="btnReg">
                  <span class="btnRegSpan">
                    <a
                      target="_blank"
                      href="https://games-of-thrones.com/?ref=VladTaltos"
                      >Register</a
                    >
                  </span>
                </button>
              </div>
            </div>
          </div> -->
          <!-- <div class="cloudyCard">
            <img class="f2hashlogo" [src]="bbox" alt="An abstract logo'" />
            <div class="card__content">
              <p class="card__title">Black Box Revolution</p>
              <p class="card__description">
                <i class="warning"
                  >"Black Box Revolution" is currently having issues. Be careful
                  and do not invest, because something strange is going on right
                  now. We still have a little hope. The owner said it is a major
                  problem, but the project is not dead yet."</i
                >
                "Black Box Revolution" is trully a revolutionary project and idea, aiming to increase it's investors 
                        revenue. It is an honest platform, which is not without risk. It is a mining simulator, but excels at 
                        crypto currency staking as well. You need to connect your wallet extension to participate."
              </p>
              <div class="cardBtns">
                <button class="btnLearnMore">
                  <a routerLink="./black-box"
                    ><span class="btnLearnSpan">Explore</span></a
                  >
                </button>
                <button class="btnReg">
                  <span class="btnRegSpan">
                    <a
                      target="_blank"
                      href="https://rebolution.black.boxminerblack.online?ref=0x065C57662E36132dE9Feb0b0C1AD978de9614883"
                      >Register</a
                    >
                  </span>
                </button>
              </div>
            </div>
          </div> -->
          <!-- <div class="cloudyCard">
                    <img class='f2hashlogo' [src]="alpaai" alt="An daily yield of 3% screenshot'">
                    <div class="card__content">
                      <p class="card__title">Alpha Ai Mining</p>
                      <p class="card__description">


                         "Alpha Mining AI is a typical mobile-designed application like many others, but it excels at high-quality 
                        services, good support and rising popularity. It has a certificate as a registered MSB (Money Service Business) 
                        by the name of Habo Exchange Ltd. It has been online from 20.12.2023."
                    </p>
                    <div class="cardBtns">
                        <button class="btnLearnMore">
                            <a routerLink="./alpha-ai"><span class="btnLearnSpan">Explore</span></a>
                        </button>
                        <button class="btnReg">
                            <span class="btnRegSpan">
                                <a target="_blank" href="https://alphaaimining.com/atSPFf">Register</a>
                            </span>
                        </button>
                    </div>
                    </div>
                  </div> -->
          <div class="cloudyCard">
            <img class="cardLogo" [src]="xeni" alt="A mining computer" />
            <div class="card__content">
              <p class="card__title">Xeniminers</p>
              <p class="card__description">
                Xeniminers is a very interesting Spanish platform, which is a
                Blockchain Simulator. You hire miners by buying NFT's and thus
                assist in creating new blocks in the network, which yield
                rewards when mined. The native token is called XNC. Please use
                'vladtaltos' as referrer if you register.
              </p>
              <div class="cardBtns">
                <button class="btnLearnMore">
                  <a routerLink="./xeniminers"
                    ><span class="btnLearnSpan">Explore</span></a
                  >
                </button>
                <button class="btnReg">
                  <span class="btnRegSpan">
                    <a target="_blank" href="https://xeniminers.com"
                      >Register</a
                    >
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="cloudyCard">
            <img
              class="cardLogo"
              [src]="legitDoge"
              alt="An abstract symbol in the form of a portal or gateway"
            />
            <div class="card__content">
              <p class="card__title">LegitDogeMining</p>
              <p class="card__description">
                LegitDogeMining's expert blockchain and hardware teams, with
                alumni from Harvard, Stanford, Cambridge and over 5 years of
                experience, built the proprietary DogeSmartMine AI system to
                enable fast, simple Dogecoin mining.
              </p>
              <div class="cardBtns">
                <button class="btnLearnMore">
                  <a routerLink="./legit-doge"
                    ><span class="btnLearnSpan">Explore</span></a
                  >
                </button>
                <button class="btnReg">
                  <span class="btnRegSpan">
                    <a
                      target="_blank"
                      href="https://legitdogemining.com/?ref=VladTaltos"
                      >Register</a
                    >
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footNote">
      <p>Things to keep in mind, while investing in Cloud Mining projects:</p>
      <ul>
        <li>You investment is always at risk.</li>
        <li>
          You should make a strategy and decide when to invest and when to
          withdraw.
        </li>
        <li>
          You should keep an eye on the platform, so you can detect suspicious
          activity or signs (like unrealistic promotions).
        </li>
        <li>
          And you should always make a thorough research online, before
          investing.
        </li>
      </ul>
    </section>
  </body>
</html>
<router-outlet></router-outlet>
