
<h2>Tron1477</h2>
<div class="logoContainer">
    <img class="logo logo1477" [src]="yomigt" alt="Yomigt's logo, text beneath a symbol in the form of the letter Y">
    <p class="welcomeQ"><i class="quote">"Help global customers achieve business goals"</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "The company aims to provide high-quality services in the fields of technology finance, 
        digital finance and Internet technology to global individual customers and enterprises in different 
        fields through cutting-edge technology, IT services, financial technology and innovative business models. 
        The company now has businesses in the fields of Internet technology development, network infrastructure 
        solutions, asset management, supply chain financial services, digital asset services, and blockchain-based 
        e-commerce, and is developing businesses such as cross-border payment and digital banking."
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">Yomigt</i> is an interesting project, which excels in the affiliate system of its users. Depending 
        on the number of affiliates you invite, you get better earning potential - or you get to the next VIP level. You 
        need to be at least <i class="emp">VIP 1 </i>to start earning daily, but you can reach that level by investing 30$,
         even without inviting referrals. But this level will keep you earning for 45 days, before going inactive, unless 
         you invite someone to join, who then invest at least 50$. This will prolonge your VIP 1 plan with 
         <i class="emp">15 more days</i>. If you invite 2 new 
        investors total, you will get to the next VIP level. I haven't invited anyone yet and am still testing the 
        application, but 
        even if you do not invite anyone new, for 45 days you will be able to <i class="emp">double</i> your investment. It 
        seems to me like a good chance to earn some extra cash. But, as with every such project, there is significant risk. <br>
        <i class="dng">The platform has changed. Users can not withdraw, unless they invite someone, who has invested 
            at least 100$. It seems like a pyramid to me now and I do not recommend it. Not unless you have a team, but this 
            still doesn't guarantee you won't get scammed. Please be careful. I will leave the article here, but place warnings.
        </i> 
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Register, explore and make an investment*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="reg" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Collect your earnings every day**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="withdraw" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Use Lucky Draw, Buy Contracts, etc***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="lifecycle" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="yomigt_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">            <p class="tm">
            <i>Some of the icons, I've used for the <i class="emp">Tips</i> section are 
            <i class="emp">Yomigt's</i> original images. 
            I did not create or own them.</i>
        </p>
            <p><i>*The platform bares resemblance to a hybrid between a mobile and a browser app. Upon registering, you 
                will receive <i class="emp">3$</i> or <i class="emp">6$</i> bonus, but you will need reach 
                <i class="emp">VIP 1</i> to start earning. In order to do so, you would need to deposit and increase your 
                wallet to <i class="emp">at least 30$</i>. This is the minimum deposit (but you can use the registration 
                bonus to decrease the amount you invest to 24-27$).
            </i>
            </p>
            <p><i>**Immediately after <i>investing</i>, you can go to <i class="emp">Asset</i> menu and start earning. 
                You will be able to click on a button <i class="emp">5 times / day</i> and get from 
                <i class="emp">0.34% ~ 0.39% per click</i> (total of 1.7% - 1.95% daily). 
                So the more you invest, the more you will earn. You will be able 
                to do this task 45 days in a row, but if you invite friends, the duration <i class="emp">will increase</i>
                 (+15 days for the first referral, who <i class="emp">invests more than 50$</i>). 
                After the 45 days threshold, you can withdraw all your funds (<i class="emp">including your initial investment</i>).
            </i></p>
            <p><i>***You can also buy <i class="emp">contracts</i>, confirm <i class="emp">daily checks</i> and spin the 
                <i class="emp">lucky draw</i> to earn even more. 
                But these options require bigger investment or contacting of the live support.
            </i></p>
            <span class="gl">Good luck!</span> <br>
            <i class="dng">The platform has changed its rules. Now you can't withdraw, unless you invite at least 1 person, who 
                invests 100$. I don't like the changes, but will leave the article for now. 
            </i>
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Investments</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
            Currently, I've invested 24$ in <i class="emp">Yomigt</i>, and have earned 21.89$ (at this exact moment). But I've 
            had no luck in recruiting referrals, so it is highly possible my daily earning will get <i class="dng">blocked</i>. 
            Despite this, I strongly believe I will be able to withdraw all of my earnings and double my investment in a few 
            weeks. Which is not a bad deal. I think the platform is fairly stable (can never be sure) and if I find enthisiasts, 
            who would join me, we can actually earn something from it. Still, I do tend to play safe and I don't take unnecessary 
            risks (I don't make huge investments). So even if I win 30$ at the end, it still going to be a win.
        </p>
        <div class="book">
            <p>30$ (need to invite)</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://yomigt.yomigt.com/#/pages/auth/register?code=P5F1sA">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2]?.slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>


