
<h2>Cointiply</h2>
<div class="logoContainer">
    <img class="logo" [src]="cointiply" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"Get more money for the things you love,
        or start saving for the future by joining Cointiply today.
        "</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        <span class="cStatementTitle">Turn Your Time Into Money.</span>
        "We all spend a LOT of time online, why not make it work for you?
        You can earn Bitcoin, DOGE, LTC or DASH by doing the things you love online. 
        Earn crypto by playing fun games online. Get rewards for watching videos, 
        shopping online, or signing up for exciting services. Share your opinion on 
        popular products and businesses and earn real crypto currency.
        "
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "
        <i class="emp">Cointiply</i> is a very similar to <i class="emp">SwagBucks</i>.
        It is a platform, in which you can earn crypto by playing games, answering surveys, completing offers, watching 
        videos and even chatting.
        There is also a Faucet, similar to <i class="emp">FireFaucet</i>, which you can 'Roll' twice a day. Another 
        interesting aspect of the platform is that it is designed like a game - you even have quests and some 
        collectible items, you can get by buying chests. These items provide boosts to your activity in the platform. 
        All together it is a very nice platform for earning some extra cash.
        "        
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Play games*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="games" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Do surveys</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="surveys" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Complete tasks**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="tasks" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Watch videos</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="videos" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Complete offers***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="offers" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="cointiplyWall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p class="tm">
                <i>The icons, I've used for the <i class="emp">Tips</i> section are <i class="emp">Cointiply's</i> original images. 
                I did not create or own them.</i>
            </p>
            <p><i>*<i class="emp">Games</i> are a type of offer, you accept and try to complete. They are related, for example,
                 to reaching a <i class="emp">particular level</i> or 
                <i class="emp">goal</i> in a specific game for a <i class="emp">certain time</i>. 
                They reward after completion.
            </i></p>
            <p><i>**<i class="emp">Tasks</i> are the <i>Bonus Quest System</i> of the platform. When you reach certain achievements in the 
                platform, you complete these quests and earn extra <i>Coins</i> and experience. 
            </i></p>
            <p><i>***<i class="emp">Offers</i> are certain tasks, you can accept to acomplish, for example 
                <i class="emp">Sign-ups</i>, 
                <i class="emp">browsing a website</i>, <i class="emp">testing a new app</i>.
            </i></p>
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span>Back</span>
                </div>
                <div class="clone">
                    <span>Side Hustles</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
            <i class="emp">Cointiply</i> is a pretty nice platform with a lot of options to earn. They also have a 
            <i class="emp">Staking</i> option for users with more than 35 000 Coins (3.5$). This staking provides 
            <i class="emp">5% Annual Interest</i> to its holder. I tried the platform some time ago and reached the 
            minimum withdrawal of 3$ by watching ads, playing some games, rolling the faucet and watching videos 
            (sometimes I just lowered my lap-top brightness and left it idle on the video channel). It is not that hard. 
            Another interesting feature is the <i class="emp">"Rain Pool"</i>. It occurs in the build-in chat.
             You need to <i class="emp">qualify</i> for the drop, keep the chat open and 
              maybe chat a little, or do some activities,
            so you have a bigger share.
            <br>
            <span class="gl">Good luck!</span> 
        </p>
        <div class="book">
            <p>3$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="http://cointiply.com/r/XOPdwM">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments <= 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

