<h2>Losena</h2>
<div class="logoContainer">
  <img class="logo" [src]="losena" alt="Cloud Miner" />
  <p class="welcomeQ"><i class="quote">"Welcome to losena.net"</i></p>
</div>
<section class="companyStatement">
  <h4>Company's statement</h4>
  <p class="cStatement">
    "Losena Team Group offers advertisers the purest traffic that is available
    on the Russian Internet! Your assignments, letters, tests will be completed
    only by those who are interested! From the very beginning, we did everything
    to close all possible ways of earning money for unscrupulous performers
    (multi-accounts). Your advertising will not be drowned in garbage created by
    one-day users! Register and make sure!
    <br />
    We took care of your safety! On our website you will not find tasks in the
    categories to vote or download a file! All advertising is moderated and such
    tasks are not allowed, since most of these tasks are simply theft of your
    personal data! We do not reduce prices for advertisers - we improve
    conditions, and therefore you receive decent payment for your actions on
    Losena.net"
  </p>
</section>
<section class="myStatement">
  <h4>My point of view</h4>
  <p class="mStatement">
    "<i class="emp">Losena</i> is an interesting Russian platform, in which you
    can both advertise your websites for traffic and complete tasks to earn
    money. The traffic, that you would acquire, is mainly concentrated in
    Russia, but not entirely. When I watched some of the videos in the
    <i class="emp">Youtube videos</i> section, I realized the platform has a
    global scope, which means that your advertisements won't go to waste, even
    if they are from a different region of the world. The advertisement costs
    are low, the traffic is high, because the platform is popular and the
    earnings, collected from PTC, Youtube videos, Shortlinks, OfferWalls and
    more, are decent, while the tasks are not hard to acomplish, nor unpleasant.
    If you want to generate some traffic for your platforms or earn some Rubles
    browsing, you should give it a try. And you can also combine both earning
    and advertising, so that you receive 'free' traffic."
  </p>
</section>
<section>
  <div class="tips">
    <h2 class="tipsH">Tips</h2>
    <div class="column1">
      <ul>
        <div class="listCont">
          <li>Register and Log-in*</li>
          <span class="tipsIcon">
            <img class="honeyIps" [src]="reg" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Complete your profile**</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="profile" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Complete tasks (PTC, Videos, etc)***</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="offers" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Withdraw / Advertise****</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="withdraw" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Invite friends and aqcuire referrals</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="refer" alt="" />
          </span>
        </div>
      </ul>
    </div>
    <div class="wallpaper">
      <img
        class="wallpaperImg"
        [src]="losenaWall"
        alt="a person sitting on his sofa in the living room, while his devices emit digital bees"
      />
    </div>
    <div class="def">
      <p class="tm">
        <i
          >Some of the icons, I've used for the <i class="emp">Tips</i> section
          are <i class="emp">Losena's</i> original images. I did not create or
          own any of them.</i
        >
      </p>
      <p>
        <i
          >*Registration is easy and straight-forward. After completing it and
          logging into your account, you will be able to explore the website.
          Note that <i class="">it is in Russian</i>, so you might find
          difficulties if you are not familiar with the language, but if you are
          using Chrome, you can click on <i class="emp">translator icon</i>,
          situated on the right side of the address bar and
          <i class="emp">use Chrome's automatic translator</i> to translate the
          whole website for your convenience. If you are using a different
          browser and it does not offer build-in translations by default, you
          can search for an Add-on or additional information online and you
          should be able to overcome the language barrier with not that much
          effort.
        </i>
      </p>
      <p>
        <i
          >**Completing your profile and filling-in the information is very
          important, because, in doing so, you will receive
          <i class="emp">5 rating points</i>, and I believe you need at least 7
          points to fill-in your mobile number, which unlocks withdrawals. The
          withdrawals are made to
          <i class="emp"
            >Payeer, WebMoney, Perfect Money, Qiwi and even FaucetPay (as
            BTC)</i
          >. You can receive <i class="emp">1 rating</i> daily, by clicking on
          the star icon near your avatar.
        </i>
      </p>
      <p>
        <i
          >***The <i class="emp">tasks</i> are easy and well-organized. You have
          short <i class="emp">PTC</i> views with no active window (most of the
          time), a lot of <i class="emp">short youtube videos</i> (again with no
          active window) and they provide decent rewards in comparison to many
          other similar platforms. There are some other tasks, such as
          <i class="emp">Shortlinks, Offers, readings letters</i>
          and more, if you are enthusiastic to get the most of your experience
          in the platform.</i
        >
        <br />
        <i class="emp"
          >I advise using Mozilla Firefox for Losena, so you can multi-task
          multiple active windows at the same time.</i
        >
      </p>
    </div>
    <div class="bToFauc">
      <button id="buttonBack" (click)="goInvest()">
        <div class="text">
          <span class="backBtnTxt">Back</span>
        </div>
        <div class="clone">
          <span class="backBtnTxt">Side-Hustles</span>
        </div>
        <svg
          width="20px"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14 5l7 7m0 0l-7 7m7-7H3"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</section>
<section class="earnings">
  <h2 class="earningsH">My earnings</h2>
  <div class="earningsInfo">
    <p class="textInfo">
      I started using the platform just recently (3 days ago), so I haven't been
      able to withdraw yet. But I plan on using it to promote my website and
      withdraw some Rubles to sponsor my projects and increase my traffic. I
      believe that <i class="emp">Losena</i> offers good payment conditions in
      comparison to many similar platforms and it is quite popular, with a lot
      of traffic, reasonable promoting prices and a lot of tasks. You can
      easily, and without much effort, collect up to 10 Rubles per day, and even
      more, while combining this platform with work on your other side-hustles,
      which is possible, because the PTC and Videos don't require an
      <i class="emp">active</i> window, while you browse them.
    </p>
    <div class="book">
      <p>~1.6$</p>
      <div class="cover">
        <p>Earnings</p>
      </div>
    </div>
  </div>
  <div class="goReg">
    <button class="regButton">
      <a class="regLink" target="_blank" href="https://losena.net/?r=vladtaltos"
        >Get Started</a
      >
    </button>
  </div>
</section>
<section class="comments">
  <h3>Comments section</h3>
  <div class="commentBox">
    <div class="guestName">
      <input
        class="nameInput"
        type="text"
        name=""
        id=""
        placeholder="Name / Nickname"
        [(ngModel)]="nickName"
      />
    </div>
    <div class="rating">
      <select
        #uRating
        class="stars"
        name=""
        id=""
        (change)="getRating(uRating.value)"
      >
        <option value="1">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <span><img [src]="ratings" alt="" /></span>
  </div>
  <div class="inputField">
    <textarea
      class="commentField form-control"
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Write a comment..."
      [(ngModel)]="comment"
      required
    >
    </textarea>
  </div>
  <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
    Submit
  </button>
</section>
<section class="guestComments" id="cmntSect">
  <h3>Comments</h3>
  <p *ngIf="numberOfComments < 1" class="noComments">
    There are no comments. Maybe you can add one?
  </p>
  <p
    *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0"
    class="avRate"
  >
    Avarage rate:
    <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 1" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 2" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 3" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 4" [src]="ratings" alt="" />
    <img *ngIf="ratingHalf" [src]="halfRatings" alt="" />
  </p>
  <div class="allComments" *ngFor="let g of numberOC; index as i">
    <div class="guestDetails">
      <p class="name">
        {{
          listOfComments[0].slice(
            this.currentPage * 3 - 3,
            this.currentPage * 3
          )[i]
        }}
      </p>
      <span
        *ngIf="
          listOfComments[1].slice(
            this.currentPage * 3 - 3,
            this.currentPage * 3
          )[i] > 0
        "
        class="guestRating"
      >
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 0
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 1
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 2
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 3
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 4
          "
          [src]="ratings"
          alt=""
        />
      </span>
    </div>
    <p class="comment">
      {{
        listOfComments[2].slice(this.currentPage * 3 - 3, this.currentPage * 3)[
          i
        ]
      }}
    </p>
  </div>
  <div *ngIf="!newComment && numberOfComments > 0" class="pagesMenu">
    <div class="currentPage">
      <span>Current page: </span
      ><span class="curPageNum">{{ currentPage }}</span>
    </div>
    <div class="pagesNav">
      <svg (click)="pageBackward()">
        <path
          fill="#f08080"
          d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"
        ></path>
      </svg>
      <div *ngIf="!multiplePage" class="singPages">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="i <= 2"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}
          </span>
        </div>
      </div>
      <div *ngIf="multiplePage" class="multiplePage">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="i <= 1"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}
          </span>
        </div>
      </div>
      <span class="medPages" *ngIf="multiplePage" (click)="choosePage()"
        >...</span
      >
      <div *ngIf="multiplePage" class="multiplePage">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="commentPages.length - 2 <= i"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}</span
          >
        </div>
      </div>
      <svg (click)="pageForward()">
        <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
      </svg>
    </div>
    <!-- <div class="page" >Page</div> -->
  </div>
</section>
