
@font-face {
    font-family: 'OpenSansClassic'; /*a name to be used later*/
    src: url('../../src/assets/fonts/OpenSans-VariableFont_wdth.ttf');
}

@media only screen and (max-width: 870px) {
    .welcomeMsg {
        font-size: 15px;
    }
    .topnav a {
        font-size: 13px !important;
    }
  } 
@media only screen and (max-width: 659px) {
    .welcomeMsg {
        font-size: 12px;
    }
    .topnav a {
        font-size: 10px !important;
    }
  } 
@media only screen and (max-width: 420px) {
    .welcomeMsg {
        font-size: 7px;
    }
  } 


body {
    margin: 0;
    position: fixed !important;
    top:0; left:0;
    width: 100%;
}


.navBar {
    display: flex;
    justify-content: space-between;
    background-image: url(../../src/assets/backgrounds/denim.webp);
    border-bottom: 1px solid black;
}

.topnav {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    margin: auto 0;
    flex-wrap: wrap;
    width: 37%;
    justify-content: center;
  }
  
  .topnav a {

    float: left;
    color: coral;
    text-align: center;
    padding: 7px 5px 7px 6px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'OpenSansClassic';
  }

  .svg-icon {
    height: 2rem !important;
    width: 2rem !important;
  }
  
  .topnav a:hover {
    color: gold;
  }

  .topNav2 a:hover {
    color: violet !important;
  }
  
  .topnav a.active {
    color: blueviolet
  }
  .topnav a.active:hover {
    color: cyan;
    text-decoration: underline;
  }
  .topNavMain a.active:hover {
    color: darkorange;
    text-decoration: underline;
  }

.active {
    max-height: 2rem;
}

.activeL {
  color: gold !important;
}
.notActiveL {
  color: coral;
  text-decoration: none;
}

.heading {
  margin: auto;
  width: 120%;
}

.welcomeMsg {
    color: lightcoral;
    text-align: center;
    font-family: 'OpenSansClassic';
    font-size: 20px;
}

