<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HYIP</title>
</head>
<body>
    <section>
        <div>
            <h2 class="hyipH">Online Investments</h2>
            <p class="hyipDef">
                The type of online investments I am going to present here hold some signigicant risk, and bare some 
                charecteristics of <i class="warning">HYIP (High Yield Investment Programs)</i>. Quite frankly, 
                I was kind of reluctant investing 
                in any of them, but with time, I actually decided to invest in a few. They are many different types of investment 
                platforms out there. Sometimes you can find yourself investing in gold, oil, real estate, forex trading or even 
                medicinal cannabis.
                There a <i class="warning">A LOT of scams</i>, so be weary. Such projects try their best to assure you they are legit, while beeing
                a total fraud. The ones, I usually invest in are the forex traders. And I also tend to play safe and restrain 
                my greed, when I see big ROIs such as > 5%. 
            </p>
        </div>
        <h3 class="beWarnedHyipH">Warning</h3>    
        <div class="hyipWarning">
            <div class="scan-loader">
                <span></span>
            </div>
            <p class="beWarnedHyip">
                Cloud mining projects hold some risk (most of the time - significant), there are a lot of 
                <i class="fFacet">frauds</i> and <i class="fFacet">scams</i>
                and many "companies" use the idea of Cloud mining to their advantage, offering fake mining power to the 
                investors and divorcing (or leaving abruptly) quite often, contributing to a loss of capital for the 
                users. Still, the idea is very attractive to the adventuruous and bold web dwellers, who are willing to take 
                a risk with a promise of a generous ROI. But I've discovered that a big number of these cloud mining platforms
                are a scam. Always do your research, and only invest an amount you are willing to lose!
            </p>
            <div class="scan-loader">
                <span></span>
            </div>
        </div>

        <div>
            <h2 class="myHyipsH">My Cloud Mining Platforms</h2>
            <p class="myHyips">
                I've come accross many cloud mining platforms and I've tested a few, but I am very careful, because a lot of 
                them are  <i class="fFacet">scam</i>. When I think about it, maybe I've trusted my money in only ~ 5%-7% of them, and I still have 
                doubts about their lifespan. Yet, I've found projects that have returned my investment completely and 
                currently I am earning net value. It is hard to find a really stable project, and most of the people, 
                who are surfing the cloud, already know that the future of such projects is almost 95% certain to fail. 
                Some investors jump from project to project, invest a strategic amount in a new platforms, 
                and after their first few withdrawals, they skip to different ones. That is not a bad strategy, but builds
                up tension and unease. You're never certain what will happen.
                The idea of a stable long-term project is the thing most of us are looking for.<br>
                Currently I've found 2 projects that I trust. I've returned my whole investment from them. Their names are 
                <i class="gCloud">Nftferma</i> and <i class="gCloud">Minelab</i> and you can learn more about them below.  
            </p>
        </div>
    </section>
</body>
</html>
