<html lang="en" *ngIf="invest">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investments</title>
</head>
<body>
    <section>
        <div>
            <h2 class="hyipH">Online Investments</h2>
            <p class="hyipDef">
                The type of online investments I am going to present here hold some signigicant risk, and bare some 
                charecteristics of <i class="warning">HYIP (High Yield Investment Programs)</i>. Quite frankly, 
                I was kind of reluctant investing 
                in any of them, but with time, I actually decided to invest in a few. They are many different types of investment 
                platforms out there. Sometimes you can find yourself investing in gold, oil, real estate, forex trading or even 
                medicinal cannabis.
                There a <i class="warning">A LOT of scams</i>, so be weary. Such projects try their best to assure you they are legit, while beeing
                a total fraud. The ones, I usually invest in are mainly traders. And I also tend to play safe and restrain 
                my greed, when I see big ROIs such as > 5%. 
            </p>
        </div>
        <div class="hyipWarning">
            <div class="investmentWarningTitle">
                <div class="scan-loader">
                    <span></span>
                </div>
            <h3 class="beWarnedHyipH">Warning</h3>    
            <div class="scan-loader">
                <span></span>
            </div>
            </div>
            
            <p class="beWarnedHyip">
               Investing online holds great risk. A huge number of projects are <i class="underWarning">scam or fraud</i>.
                I have been scammed a few times and lost around 300$. But thanks to that experience, I've started investing 
                strategically and only after I make a thorough research of the platform, I have interest in. Also, when you've
                seen a lot of scam projects, you start recognizing them early on. One of the major rules in this area of online 
                business is <i class="underWarning">"Invest only what you can afford to lose</i>. I totally agree - you must 
                definitely not give in to your greed, because even if there is a chance to win big, there is an even bigger chance for 
                you to get scammed. I recommend slow and steady investment in strategic moments of the platforms life-cycle.
            </p>

        </div>

        <div>
            <h2 class="myHyipsH">My Investment Platforms</h2>
            <p class="myHyips">
                I've come accross many investment platforms, and I admit - most of them are scam. But if you are trying to make some 
                passive income, without a big capital in your disposal, you already know, you're getting yourself into the scammers`
                territory. They offer huge return rates, but after a while you start discerning decent from fraudulent platforms. 
                There is always the risk-factor. The moment, when you are considering investing in some of these websites, but are not 
                very sure it is a good idea. In these cases, I recommend trusting your gut. If you feel uncomfortable and pressured 
                from the idea of investing - don't rush it. Take a few days and think carefully about it. <br>
                The platforms I am going to present to you today have been tested by me. They are currently paying, but I can 
                not guarantee for how long. I can just provide some insight and how I feel about them. <br>
                There are many unknowns in such projects, and everyone should know there are a lot of scammers out there. 
                Most of these platforms look alike. I guess these kind of projects target more 
                mature (older) people, which have a different type of thinking and are not that aware of the scam 
                possibilities the WWW provides in our current technological progress. They might feed on naivity and 
                trustfulness of the old generation, balancing on the scales of global media news and old-fashioned 
                methods of income (like gold, real estate, etc) and new advanced technologies on the other side.
                 It looks aluring and interesting, even for me, but I do not believe I would risk especially in these 
                 kinds of platforms. Most of them are not even that well made. There have no distinguishing features 
                 and sometimes the styling of 
                 the website is somewhat broken at places. Would you invest in such a place?

                I will continue to search for a good platform and will create an article if I find one. 
                But most of them are different types of scam. Short lived (quick and huge surge of investors, 
                followed by a divorce) or long-term (which find individual victims and try to squeeze out most of them,
                involving them in a labyrinth of despair). Anyway, be safe out there, and carefully think about investing. 
                Search for answers and
                invest clever.
                Please, invest on your own risk (and check the full review with the <i class="warning">"Explore"</i> button).
            </p>
        </div>
    </section>
    <section class="investmentCards">
        <h2 class="iHeading">My Investments: </h2>
        <div class="iCardsBox">
            <!-- <div class="iCard">
                <div class="icard-inner">
                  <div class="icard-front">
                    <div class="inerIcardContainer">
                    <img class="bitstarsLogo"  
                        [src]="bitstars">
                    </div>
                    
                  </div>
                  <div class="icard-back iCardFlip">
                    <h4 class="cardTitle">BitStarsInv</h4>
                    <p class="flipCardDesc">
                        Bitstarsinv is a place where traders can get access to digital 
                        currency world markets with crypto currencies and start earning immediately. In other words, 
                        you can invest your crypto in trades, run by experts here.
                    </p>
                    <div class="cardBtns">
                        <button class="btnLearnMore">
                            <span class="btnLearnSpan iBtnE">
                                <a routerLink="./bitstarsinv"><span class="btnLearnSpan">Explore</span></a>
                            </span>
                        </button>
                        <button class="btnReg">
                            <span class="btnRegSpan iBtnR">
                                <a target="_blank" href="https://bitstarsinv.com/?ref=VladTaltos89">Register</a>
                            </span>
                        </button>
                    </div>
                  </div>
                </div>
              </div> -->
            <div class="iCard">
                <div class="icard-inner">
                  <div class="icard-front">
                        <img class="yomigtLogo"  
                        [src]="etc_cloud_ltd">
                  </div>
                  <div class="icard-back iCardFlip">
                    <h4 class="cardTitle">EtcCloud</h4>
                    <p class="flipCardDesc">
                        ETC serves as a global energy cloud computing management platform, 
                        establishing an intelligent cloud computing management system. It claims to have 
                        reached a mutual agreement with Binance, launching TRX staking convension.
                    </p>
                    <div class="cardBtns">
                        <button class="btnLearnMore">
                            <span class="btnLearnSpan iBtnE">
                                <a routerLink="./etccloudltd"><span class="btnLearnSpan">Explore</span></a>
                            </span>
                        </button>
                        <button class="btnReg">
                            <span class="btnRegSpan iBtnR">
                                <a target="_blank" href="https://etccloudltd.com/t/CDCG0DaEeae?lang=EN">Register</a>
                            </span>
                        </button>
                    </div>
                  </div>
                </div>
              </div>
            <div class="iCard">
                <div class="icard-inner">
                  <div class="icard-front">
                        <img class="yomigtLogo"  
                        [src]="neoflojd">
                  </div>
                  <div class="icard-back iCardFlip">
                    <h4 class="cardTitle">Neoflojd</h4>
                    <p class="flipCardDesc">
                        Neoflojd is an affiliate-based platform of a different manner. Here you can earn from the 
                        collective effort, not just from your personal recruiting skills. The wealth is shared 
                        amongst everyone.
                    </p>
                    <div class="cardBtns">
                        <button class="btnLearnMore">
                            <span class="btnLearnSpan iBtnE">
                                <a routerLink="./neoflojd"><span class="btnLearnSpan">Explore</span></a>
                            </span>
                        </button>
                        <button class="btnReg">
                            <span class="btnRegSpan iBtnR">
                                <a target="_blank" href="https://neoflojd.com/i/16">Register</a>
                            </span>
                        </button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- <div class="iCard">
                <div class="icard-inner">
                  <div class="icard-front">
                        <img class="commingSoonLogo"  
                        [src]="soon">
                  </div>
                  <div class="icard-back iCardFlip">
                    <h4 class="cardTitle">Investment platforms</h4>
                    <p class="flipCardDesc">
                        Comming soon
                    </p>                    
                  </div>
                </div>
              </div> -->
        </div>
    </section>
    <section class="sumUp">
        <h3>Things you should keep in mind, when you encounter such projects:</h3>
        <ul class="iTips">
            <li>Scammers will try everything to lure you into investing in their platform.</li>
            <li>Sometimes the platforms pay only 2 or 3 times, beforing finding a problem with your account.</li>
            <li>Some platforms suddenly dissapear, without notice, only to reappear soon after with a new name. 
                (complete restart = all your previous investments gone).
            </li>
            <li>Some platforms have hidden rules, which are not visible at the beginning and tend to trap you 
                in their labyrinth of dispair.
            </li>
        </ul>
        <p class="iWarning">Please be careful!</p>
    </section>
</body>
</html>

<router-outlet></router-outlet>