@media only screen and (max-width: 460px) {
    .bitstarsLogo {
        height: 7rem !important;
    }
    .flipCardDesc {
        font-size: 10px !important;
    }

} 

a {
    text-decoration: none;
    color: goldenrod;
  }
  
  a:hover {
    color: gold;
  }

.hyipH   {
    text-align: center;
    font-family: 'OpenSansClassic';
    color: goldenrod;
    margin-top: 6rem;
}

.hyipH:hover, .iHeading:hover {
    color: gold;
}

.hyipDef {
    color: lightcoral;
    text-align: center;
    font-family: 'TilliumLR';
    width: 80%;
    margin: 0 auto;
}

.hyipWarning {
    display: flex;
    justify-content: center;
}

.beWarnedHyipH {
    text-align: center;
    font-family: 'OpenSansClassic';
    color: red;
    margin-top: 2rem;
}

.beWarnedHyipH:hover, .myHyipsH:hover {
    color: crimson
}

.beWarnedHyip {
    text-align: center;
    font-family: 'TilliumLR';
    color: red;
    padding: 0 3rem;
    width: 50%;
}

.myHyipsH {
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    font-family: 'OpenSansClassic';
    color: goldenrod;
    margin-top: 3rem;
}

.myHyips {
    text-align: center;
    font-family: 'TilliumLR';
    color: lightcoral;
    padding: 0 3rem;
}

.warning  {
    color: red;
}

.underWarning {
    text-decoration: underline;
}

.investmentCards {
    margin: 3rem auto;
    min-height: 300px;
    background-image: url('../../assets/backgrounds/darkdenim3.png');
}

.iCardsBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.iCard {
    margin: 3rem 5rem;
}

.iHeading {
    margin-top: 2rem;
    color: goldenrod;
    font-family: 'OpenSansClassic';
    text-align: center;
    padding-top: 2rem;
}

.sumUp {
    color: lightcoral;
}

h3 {
    color: goldenrod;
    text-align: center;
}

h3:hover {
    color: gold;
}

.iWarning {
    text-align: center;
    color: red;
}

.iWarning:hover {
    color: goldenrod;
}

.innerIcardContainer {
    display: flex;
}

.bitstarsLogo {
    height: 11rem;
}

h4 {
    color: gold;
    text-align: center;
    margin: 0.5rem auto;

}

.cardBtns {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.iBtnE, .iBtnR {
    font-size: 0.7rem !important;
}

.iCardFlip {
    display: flex;
    flex-direction: column;
}

.cardTitle {
    color: blueviolet;
}

.cardTitle:hover {
    color: cyan;
}

.flipCardDesc {
    font-size: 14px;
    font-family: 'TilliumLR';
}