<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HYIP</title>
</head>
<body>
    <section>
        <div>
            <h2 class="hyipH">Online Investments</h2>
            <p class="hyipDef">
                The type of online investments I am going to present here hold some signigicant risk, and bare some 
                charecteristics of <i class="warning">HYIP (High Yield Investment Programs)</i>. Quite frankly, 
                I was kind of reluctant investing 
                in any of them, but with time, I actually decided to invest in a few. They are many different types of investment 
                platforms out there. Sometimes you can find yourself investing in gold, oil, real estate, forex trading or even 
                medicinal cannabis.
                There a <i class="warning">A LOT of scams</i>, so be weary. Such projects try their best to assure you they are legit, while beeing
                a total fraud. The ones, I usually invest in are mainly traders. And I also tend to play safe and restrain 
                my greed, when I see big ROIs such as > 5%. 
            </p>
        </div>
        <h3 class="beWarnedHyipH">Warning</h3>    
        <div class="hyipWarning">
            <div class="scan-loader">
                <span></span>
            </div>
            <p class="beWarnedHyip">
               Investing online holds great risk. A huge number of projects are <i class="underWarning">scam or fraud</i>.
                I have been scammed a few times and lost around 300$. But thanks to that experience, I've started investing 
                strategically and only after I make a thorough research of the platform, I have interest in. Also, when you've
                seen a lot of scam projects, you start recognizing them early on. One of the major rules in this area of online 
                business is <i class="underWarning">"Invest only what you can afford to lose</i>. I totally agree - you must 
                definitely not give in to your greed, because even if there is a chance to win big, there is an even bigger chance for 
                you to get scammed. I recommend slow and steady investment in strategic moments of the platforms life-cycle.
            </p>
            <div class="scan-loader">
                <span></span>
            </div>
        </div>

        <div>
            <h2 class="myHyipsH">My Investment Platforms</h2>
            <p class="myHyips">
                I've come accross many investment platforms, and I admit - most of them are scam. But if you are trying to make some 
                passive income, without a big capital in your disposal, you already know, you're getting yourself into the scammers`
                territory. They offer huge return rates, but after a while you start discerning decent from fraudulent platforms. 
                There is always the risk-factor. The moment, when you are considering investing in some of these websites, but are not 
                very sure it is a good idea. In these cases, I recommend trusting your gut. If you feel uncomfortable and pressured 
                from the idea of investing - don't rush it. Take a few days and think carefully about it. <br>
                The platforms I am going to present to you today have been tested by me. They are currently paying, but I can 
                not guarantee for how long. I can just provide some insight and how I feel about them. <br>
                Please, invest on your own risk (and check the full review with the <i class="warning">"Explore"</i> button).
            </p>
        </div>
    </section>
    <section class="investmentCards">
        <h2 class="iHeading">My Investment Platforms: </h2>
        <div class="iCardsBox">
            <div class="iCard">
                <div class="icard-inner">
                  <div class="icard-front">
                    <div class="inerIcardContainer">
                    <img class="bitstarsLogo"  
                        [src]="bitstars">
                    </div>
                    
                  </div>
                  <div class="icard-back iCardFlip">
                    <h4 class="cardTitle">BitStarsInv</h4>
                    <p class="flipCardDesc">
                        Bitstarsinv is a place where traders can get access to digital 
                        currency world markets with crypto currencies and start earning immediately. In other words, 
                        you can invest your crypto in trades, run by experts here.
                    </p>
                    <div class="cardBtns">
                        <button class="btnLearnMore">
                            <span class="btnLearnSpan iBtnE">Explore</span>
                        </button>
                        <button class="btnReg">
                            <span class="btnRegSpan iBtnR">
                                <a target="_blank" href="https://bitstarsinv.com/?ref=VladTaltos89">Register</a>
                            </span>
                        </button>
                    </div>
                  </div>
                </div>
              </div>
            <div class="iCard">
                <div class="icard-inner">
                  <div class="icard-front">
                        <img class="merobitLogo"  
                        [src]="merobit">
                  </div>
                  <div class="icard-back iCardFlip">
                    <h4 class="cardTitle">Merobit</h4>
                    <p class="flipCardDesc">
                        According to the website, their adept team leverages their knowledge to invest in diverse financial avenues, 
                        including short-term trades, forex, currency options, and more. Here you can invest in the financial 
                        operations of the company.
                    </p>
                    <div class="cardBtns">
                        <button class="btnLearnMore">
                            <span class="btnLearnSpan iBtnE">Explore</span>
                        </button>
                        <button class="btnReg">
                            <span class="btnRegSpan iBtnR">
                                <a target="_blank" href="https://merobit.com/ref/VladTaltos89">Register</a>
                            </span>
                        </button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- <div class="iCard">
                <div class="icard-inner">
                  <div class="icard-front">
                        <img class="bitstarsLogo"  
                        [src]="tronfin">
                </div>
                  <div class="icard-back iCardFlip">
                    <h4 class="cardTitle">TronFin</h4>
                    <p class="flipCardDesc">
                        This Spanish platform is dedicated to cryptocurrency arbitrage. They earn a percentage on the 
                        difference in the exchange rate, then convert the funds back to trx and pay you, 
                        keeping a portion for themselves. 
                    </p>
                    <div class="cardBtns">
                        <button class="btnLearnMore">
                            <span class="btnLearnSpan iBtnE">Explore</span>
                        </button>
                        <button class="btnReg">
                            <span class="btnRegSpan iBtnR">
                                <a target="_blank" href="https://tronfin.org/?ref=2177236360">Register</a>
                            </span>
                        </button>
                    </div>
                  </div>
                </div>
              </div> -->
            <div class="iCard">
                <div class="icard-inner">
                  <div class="icard-front">
                    <img class="bitstarsLogo"  
                        [src]="tron1477">
                  </div>
                  <div class="icard-back iCardFlip">
                    <h4 class="cardTitle">Tron1477</h4>
                    <p class="flipCardDesc">
                        Tron1477 is the online platform of the CIG Private Limited company. They invest in DeFi companies
                         and projects and are advocating open-source, community owned and blockchain based financial 
                         solutions. You can invest in their activity and earn.
                    </p>
                    <div class="cardBtns">
                        <button class="btnLearnMore">
                            <span class="btnLearnSpan iBtnE">Explore</span>
                        </button>
                        <button class="btnReg">
                            <span class="btnRegSpan iBtnR">
                                <a target="_blank" href="https://tron1477.com/#/pages/login/register?id=15148">Register</a>
                            </span>
                        </button>

                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>
    <section class="sumUp">
        <h3>Things you should keep in mind, when you encounter such projects:</h3>
        <ul class="iTips">
            <li>Scammers will try everything to lure you into investing in their platform.</li>
            <li>Sometimes the platforms pay only 2 or 3 times, beforing finding a problem with your account.</li>
            <li>Some platforms suddenly dissapear, without notice, only to reappear soon after with a new name. 
                (complete restart = all your previous investments gone).
            </li>
            <li>Some platforms have hidden rules, which are not visible at the beginning and tend to trap you 
                in their labyrinth of dispair.
            </li>
        </ul>
        <p class="iWarning">Please be careful!</p>
    </section>
</body>
</html>
