
<h2>MineLab</h2>
<div class="logoContainer">
    <img class="logo" [src]="minelab" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"The fastest way to mine cryptocurrency."</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "We offer a robust and reliable infrastructure. 
        This includes state-of-the-art mining hardware and secure, reliable data centers which can lead to more
         efficient mining. Our state-of-the-art mining software switches between different currencys to make always 
         the highest profit. Payout your mined Bitcoins to a BTC wallet of your choice at any time. 
         Quickly and without limits or purchase new hash power directly in the account dashboard within seconds!
         We offer responsive and helpful customer support. We can help users quickly resolve any issues they might have, 
         which can improve their overall experience and satisfaction.
        "
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">Minelab</i> is a company, based in the UK, which provides more details and transparency, when it 
        comes to it's legal status. It even does live conferences and provides visual proofs (photos) of their events. All 
        together, my experience with them has been pleasant so far. Their support is really quick, responseful and helpful, 
         their 
        security - tight. Their community is in pretty high spirit and they've launched their own token recently - MELB, 
        from which I bought a share.  Their progress in time is steady and I have my hopes high that 
        <i class="emp">MineLab</i> will prove to be a legal investment company. Because, that is what we are trully 
        searching for - a good source of passive income. I have to be honest, my doubts are still there, but for now the 
        company has proved to me numeruos times, that is a serious one. It is most definitely in my top 2.
        Also, it provides a very high <i class="emp">ROI of 3%</i>, which helped me set my new <i class="emp">threshold</i> - everything 
        above it leans towards my <i class="dng">suspicous zone</i>.
        "
        
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Buy THS / Invest*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="mining" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Contact Customer Support**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="customer_support" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Withdraw / Reinvest***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="payout" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="minelab_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p class="tm">
                <i>Some of the icons, I've used for the <i class="emp">Tips</i> section are <i class="emp">MineLab's</i> original images. 
                I did not create or own them.</i>
            </p>
            <p><i>*There are two main options to earn crypto in <i class="emp">Minelab</i>. One of them is 
                <i class="emp">Cloud Mining</i>. In this scenario, you buy <i class="emp">THS</i> (TerraHash/Second). 
                1 TH/S costs <i class="emp">8$</i> in crypto currency and provides <i class="emp">3%</i> of its value daily (~0.25$). 
                Via this method, 
                you should expect a <i class="emp">ROI in ~34 days</i>. It is pretty quick. The other option is 
                <i class="emp">Investing in AI Trading</i>, but the minimum deposit amount in the scenario is 0.05 BTC 
                (currently ~1700$). In this case, you would receive a 55% interest after 14 days, or ~4% per day. 
            </i></p>
            <p><i>**<i class="emp">Minelab</i> has tight security and sometimes new user's IP addresses get blocked, or 
                they have difficulties withdrawing. If this happens to you, don't panic and contact 
                <i class="emp">Customer Support</i> (hello@minelab.bz) and ask for assistance. Also, while you are at it, 
                send them your <i class="emp">BTC address</i> and ask them to <i class="emp">Whitelist</i> it, so you can 
                withdraw instantly in the future.
            </i></p>
            <p><i>***After you've tested the platform, you can decide to reinvest and get a higher daily profit. But, 
                please, <i class="emp">be careful</i> and always plan out your investments, <i class="emp">just in case</i>.
                This is a <i class="emp">friendly advice</i>. Investments always hold <i class="dng">risk</i>. If you 
                are short on capital, you can also try <i class="emp">reinvesting</i> (or buying THS with your earnings 
                in the platform). It is an easy and convenient way to increase your daily passive income.
            </i></p>
            <span class="gl">Good luck!</span> 
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Cloud-Mining</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
           Initially, I invested 50$ in <i class="emp">Minelab</i>. After I tested the withdrawal and received some ROI, 
           I considered investing 50$ more. I've decided not to invest more than that, not unless I get all my previous investment 
           back. To my pleasant surprise, this happened and I got 100$ back in my wallet. During this time, I read a lot 
           of good words for the project from its participant, and received some reassuring e-mails from 
           <i class="emp">Minelab</i> itself. I was just waiting to get my initial ROI back and then increased my investment 
           with the company by ~100$ more. I waited for a while and managed to retrieve that amount as well 
           (as a passive income). Now the 
           question before me was simple, yet complicated. How much more am I willing to invest, before I start only to 
           collect. I decided to try <i class="emp">Reinvesting</i> until I get 10$/day. And tomorrow is going to be my 
           last reinvestment (for a while), because currently, I have 39 TH/S.
        </p>
        <div class="book">
            <p>~200$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://minelab.bz/?ref=11191">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments <= 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

