
<h2>Make Money! (app)</h2>
<div class="logoContainer">
    <img class="logo" [src]="mm" alt="Cloud Miner">
    <p class="welcomeQ"><i class="quote">"Make Money - Cash Earning App"</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Why is Make Money the best of all rewards apps 2024 and the best of all cash apps 2024? <br>
        Are you constantly looking for new rewards apps? Make Money helps you earn real cash. 
        First, collect credits by trying free apps, testing services, completing surveys and 
        giving your opinion. Make Money gives you hundreds of thousands of credits, where other cash apps 
        just give you one thousand. The difference in credits is incredible. We have the best high paying 
        offers and high paying surveys. Next, withdraw the credits as free money to your PayPal account."
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">Money Making app</i> is one of the first apps, I've tried, since I decided to try and make some coin online. 
        I had a lot of fun playing some of the game offers there and I've answered some surveys as well. There are many apps that 
        provide similar types of offers, but I've noticed that this one pays better rewards and provides more interesting 
        challenges. It also has a <i class="emp">Daily Bonus</i> of <i class="emp">0.0166$</i> just buy logging in and clicking on two 
        buttons. It's pretty neat. The minimum withdrawal is not that easily reached, but you have fun along the way and can combine this 
        app with other hustles you run online. You should choose your offers and games wisely, though, because some of them are quite 
        challenging and others simply can not be acomplished, without investing in a certain 
        <i class="emp">(mobile)</i> game."  
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Download the 
                        <a  class="blogLink" target="_blank" 
                        href="https://play.google.com/store/apps/details?id=com.tvtwo.highest.paying.cash.app.make.money.surveys.rewards.free.income&hl=bg&gl=US">
                        mobile app</a>*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="download" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Register**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="register" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Add payment details***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="faucet" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Earn credits and withdraw****</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="credits" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and aqcuire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="mmWall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p><i>*<i>Downloading</i> the <a  class="blogLink" target="_blank" 
                href="https://play.google.com/store/apps/details?id=com.tvtwo.highest.paying.cash.app.make.money.surveys.rewards.free.income&hl=bg&gl=US">
                app</a> is not <i class="emp">mandatory</i>, but will make things easier in the future (especially if you 
                want to use it for playing <i class="emp">rewarding mobile games</i>). It has a good rating in 
                <i class="emp">Google Play Store</i> and some possitive rewiews. After downloading it, please register with my link. 
                Simple click on it (<a  class="blogLink" target="_blank" 
                href="https://make-money.top/app/1096e529c3645250">my link</a>) on your mobile device, when you have installed the app and 
                it will load, so you can 
                continue with the registration process. This, of course, is not neccessary, but I would appreciate it a lot. Even if you 
                decide to register, without downloading the app, you would still be able to use the app, but a lot of the offers are for mobile 
                devices.
            </i></p>
            <p><i>**To register, you just click on the <i class="emp">$ icon</i> on the top right of the screen. It 
                should be <i class="emp">blinking</i> to guide you better. After that you provide an 
                e-mail and continue with the straightforward, short and easy process. 
            </i></p>
            <p><i>***To add payment details, you just click on the box with the <i class="emp">5,00$</i> and 
                <i class="emp">0% cycle bar</i>. Currently you can choose between 3 payments methods: 
                <i class="emp">PayPal</i>, <i class="emp">Bitcoin</i> and <i class="emp">Etherium</i>. After you've added your payment 
                details, you can continue with exploring the app, choosing offers and completing them, thus earning 
                <i class="emp">credits</i> and <i class="emp">filling-up</i> the 0% meter, until you reach 100% and withdraw. You can 
                acquire more credits than the minimum, before withdrawing, if you wish to. Sometimes the withdraw can take some time, 
                so you can address the issue, or any other issues, to the support. My experience with them is possitive. They do respond 
                and take care of missing credits, payments and other issues, that might occur.
                <i class="emp"></i>
            </i></p>
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Side-Hustles</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
           I've played for some time and managed to withdraw ~5$ in <i class="emp">PayPal</i>. 
           Eventhough not much, I had a very fun time playing some addictive games. 
           Besides that, I also failed some high-paying offers, that would sometimes pay you above 30$ upon completion of every step. But 
           to acomplish such offers, you would need to involve a lot of time, effort and sometimes even money. If you decide to engage in 
           such challenges, I recommend searching for guides in the Internet. Sometimes, there are very explicit and well-explained guides for 
           the offer, which would help you acomplish it in the best and cost-efficient way. Otherwise, my favourite choice of rewarding games 
           are with medium or easy difficulty and I tend to have fun completing them, making the process enjoyable. I will withdraw again 
           pretty soon and will update this section.
        </p>
        <div class="book">
            <p>~5$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://make-money.top/app/1096e529c3645250">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

