
<h2>StormGain</h2>
<div class="logoContainer">
    <img class="logo" [src]="stormgain" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"All-in-one crypto app with a Bitcoin cloud miner"</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "StormGain is a crypto trading platform for everyone. 
        It is a convenient solution for those who want to profit from either the growth or decline of the 
        cryptocurrency market and from long-term investments in crypto assets.
        Available on any device, StormGain allows you to start trading the most 
        popular and most capitalised coins with a multiplier of up to 500x, or you can just buy and hold crypto. <br>
        Inspired by the desire to make cryptocurrency trading more profitable for everyone, StormGain takes the best 
        of investment and cryptocurrency markets and offers a platform for trading via cryptocurrency futures contracts.
        The platform gives you opportunities in both rising and falling markets and allows you to trade the most popular
         cryptocurrency pairs with up to 500x multiplier."
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">StormGain</i> is a platform, that is popular online and has good rating. It combines both 
        <i class="emp">crypto trading</i>, <i class="emp">staking</i> and <i class="emp">cloud mining</i> in one place. 
        The trading is made easier with signals from the platform, when a <i class="emp">rise</i> or <i class="emp">fall</i> of a currency is 
        eminent. You can also <i class="emp">exchange</i> different currencies on their platform to make trading and 
        managing of your finances easier. I haven't tested most of the features, but I have explored a little and mean to 
        make use of its many functionalities, because I find it quite user-friendly and intriguing. The desktop and mobile 
        apps make the platform quite easy to use in any situation. It also provides a <i class="emp">3$ bonus</i> 
        for new users, which is nice. I will talk about ways to use them below."
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Register and start using the Cloud Miner*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="cloud_miner" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Start trading with the earnings**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="trading" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Withdraw / Reinvest / Stake***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="staking" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="f2hash_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p><i>*Upon registration in <i class="emp">StormGain</i>, you get a <i class="emp">3$ bonus</i> and you can 
                start using the <i class="emp">Cloud Miner</i>. The Cloud Miner has different levels, but for the free 
                user it is on the basic level. It needs to be activated every 4 hours and supplies you with USDT, but 
                you can collect them only when 
                you reach <i class="emp">10$</i>. The first time it is more easy, because there are 
                <i class="emp">checkpoints</i> and <i class="emp">bonuses</i> along the way. 
            </i></p>
            <p><i>**After you collect your first 10$ from the <i class="emp">Cloud Miner</i>, you 
                <i class="dng">can't withdraw</i> them, but you can <i class="emp">trade</i> them and withdraw 
                whatever you win from the trades. After some time the <i class="emp">bonus funds</i> from the 
                <i class="emp">miner</i> disappear and you are left with only the winnings from your trades, so you would 
                need to either trade them, or collect more <i class="emp">USDT</i> from the miner.
            </i></p>
            <p><i>***You can also <i class="emp">invest</i> crypto in the platform and use it to <i class="emp">trade</i>, 
                but if you are <i class="emp">not adept enough</i>, you might need to go through 
                <i>Stormgain's Training Courses</i>. I plan on doing that soon, because I believe it is not a bad platform 
                to gain some <i class="emp">knowedge and experience</i> in crypto trading. The platform 
                <i class="emp">does provide</i> video training. As well as <i class="emp">Staking</i>, where you get a 
                <i class="emp">2% annual interest</i>. This might be quite useful for accounts with big amounts of crypto, 
                stored in them. 
            </i></p>
            <span class="gl">Good luck!</span> 
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Cloud-Mining</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
          When I collected my first <i class="emp">10$</i> from the <i class="emp">Cloud Miner</i>, I payed very little 
          attention how to properly use them and just clicked on the first trading option possible. Needless to say, 
          I <i class="dng">lost half</i> of them and the others disappeared after a while (something to do with the 
          way the platforms works). It took me some time to get another 10$ from the Cloud Miner, and this time, I watched 
          the <i class="emp">Crypto Tendencies</i> and decided to risk them again. On the next day, 
          I had <i class="emp">won 6$</i>. The platform has potential in my point of view, but I do recommend going through 
          its training courses if you are a novice like myself.
        </p>
        <div class="book">
            <p>6.5$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://app.stormgain.com/friend/BNS170653653">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

