
<h2>Alpha AI Mining</h2>
<div class="logoContainer">
    <img class="logo" [src]="alpha" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"Welcome to Alpha Mining Group, we will help you achieve future economic 
        growth and invest with us to earn huge profits."</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement cStatementList">
        "Welcome to Alpha Mining Group, we will help you achieve future economic growth and 
        invest with us to earn huge profits.
        Minimum deposit starts from 1$, minimum withdrawal amount - 2$ "18.5TRX", withdrawal fee -4%."<br><br>
        
        <span class="centralizedStatement"> <i class="emp">Mining products:</i> <br>
        1. BTC mining machine D66 - rental price 1$ - 100$ daily income 3% for 55 days<br>
        2. ETC mining machine H15-rental price 101$-200$, daily income 3.5% for 50 days<br>
        3. Bitcoin mining machine S23 - price rental 201$-2000$ daily income 3.8% for 45 days<br>
        4. BTC mining machine S19-price rental 2001$-5000$ daily income 4.2% for 40 days<br>
        5. Cluster mining machine Ss+ - price leasing 5001$-10000$ with daily income of 5.5% for 30 days<br>
        Start investing in financial products:<br>
        Project 1: Investment starts at US$30, with withdrawal of US$34.2 after 7 days<br>
        Project 2: Invest $150 to start, withdraw $213 after 14 days<br>
        Project 3: Start with an investment of $400 and withdraw $694 after 21 days<br></span>
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">Alpha AI Mining</i> is one of those designed as a mobile app platforms, which I usually find shady. I was 
        recommended to this platform, though and it has huge popularity and over 6k users in Telegram. It is designed better than 
        most with additional effort on its feauters and has a certificate as a <i class="emp">MSB (Money Services Business)</i>. 
        While this does not mean it is completely accepted and authorized by the government, it 
        <i class="emp">does provide a certain legal status</i> to the organization, called 
        <i class="emp">HABO EXCHANGE Ltd</i>, which is behind this platform. You can check the certificate upon registration, 
        before you decide if you want to invest. There is a <i class="emp">1$</i> bonus for new users. <br>
        Overall, I find the platform both <i class="dng">risky</i> and <i class="emp">attractive</i>.  If you do decide to invest, 
        please do it on your own risk and plan your investment carefully. Usually such platform are
        <i class="emp">short-lived</i>, but this one claims 
        to be <i class="emp">long-term</i>. We will see about that and hope for the best. "
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Register</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="reg" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invest (USDT/TRX)**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="miners" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Withdraw***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="withdraw" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Join Telegram group</li>
                    <span class="tipsIcon">
                        <img class="mark ytube telegram" [src]="bonus" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="ai_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p><i>*The registration process is simple and straightforward. You type in your username and password (and e-mail, I believe), 
                and you're ready to enter the platform. The platform is well designed and has a few menus, which include:
                 <ul>
                    <li><i class="emp">"Home"</i> - The Homepage, providing overall details and some useful links. </li> 
                    <li><i class="emp">"Mining"</i> - See your miner in action and your daily yields. </li> 
                    <li><i class="emp">"Strategy"</i> - Invest in some of the platforms financial projects.</li> 
                    <li><i class="emp">"Team"</i> - Check your referrals progress.</li> 
                    <li><i class="emp">"Me"</i> - User Dashboard, where you can do anything (including withdraw).</li> 
                 </ul>
            </i>
           </p>
            <p><i>**The investment process is also easy and straight-forward. You just select <i class="emo">Recharge</i> 
                (or the other links, spread arround the platform) and send the amount of <i class="emp">TRX</i> or 
                <i class="emp">USDT</i> to the provided address. Soon after that your account is replenished and you get a <i>miner</i>, 
                which 
                daily yield depends on the amount you've invested. I recommend investing TRX, because of the lower fees. You might need 
                to chose where do you want your invesment to be sent - <i class="emp">Basic</i> or <i class="emp">Financial</i> wallet. 
                The basic one is for the miner, and the financial is for the investment projects of the platform. But don't worry, you can 
                transfer crypto between them.
            </i></p>
            <p><i>***Withdrawing is instant and automatic. You just provide your wallet address when you reach the minimum withdrawal amount of 
                <i class="emp">18.5 TRX</i> and you receive it in a couple of minutes. I suggest withdrawin regularly, just in case. The USDT 
                minimum amount is <i class="emp">2$</i>.
            </i></p>
            <span class="gl">Good luck!</span> 
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Cloud-Mining</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
            I've registered very recently and invested ~15$. The platform was recommended to me, and even though I believe it is not 
            without risk, I decided to give it a try, because it is very new and might be long-term if we are lucky (the platform has 
            been published online on 20.12.2023). I managed to withdraw today and hopefuly this will continue. The payment, to my 
            pleasant surprise was instant and automatic. There are a lot of users in Telegram and the community seems happy.
        <div class="book">
            <p>~2$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://alphaaimining.com/atSPFf">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

