
<h2>BitStarsInv</h2>
<div class="logoContainer">
    <img class="logo" [src]="bitstars" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"We make investment simpler, comprehensive, 
        profitable and resourceful for everyone.
        "</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Bitstarsinv is a place where traders through us can get access to digital currency world 
        markets with crypto currencies and start earning immediately. We offer deposits and withdrawals 
        via crypto currencies and other payment processors, overcoming the biggest obstacle, allowing traders 
        to make transactions immediately. Using cyrptos instead of fiat, we provide traders with instant deposits, 
        instant delivery, access to the global market from around the world, narrow spreads and the best customer service. <br>
        Our goal is to provide our investors with a reliable source of high income, achieving stable 
        performance through the experience of our team of investment experts.
        "
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">BitStarsInv</i> in my point of view deserves some attention from the investors (and it actually has 
        drawn some), because it is <i class="emp">more stable </i> (at least I see this way) than most. It has been around from 
        <i class="emp">2021</i> and has survived until now. Also it has good reviews and its rating is relatevely high. Maybe 
        because of these 
        reasons I decided to give it a try. I haven't invested much (yet) and haven't withdrawn (but reinvest instead), yet 
        I've seen a lot of payment proofs and I believe it currently pays. Its ROI is not that high in comparison to others 
        (at least at the lower investment plans), 
        but it compensates with stability and <i class="emp">a longer life cycle</i>, so I recommend giving it a look, if 
        you already haven't. It might prove to be a stable source of passive income. 
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Register, explore and make an investment*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="reg" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Wait for the investment life-cycle ot end**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="deposit" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Withdraw / Reinvest***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="withdraw" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Check out the Bounties****</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="explore" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="bitstars_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p class="tm">
                <i>Some of the icons, I've used for the <i class="emp">Tips</i> section are 
                <i class="emp">BitStarsInv's</i> original images. 
                I did not create or own them.</i>
            </p>
            <p><i>*Upon registration in <i class="emp">BitStarsInv</i>, you are welcomed in the Dashboard, where you can 
                see all of your current investments and earnings. You can browse in the menu and get to know the platform, 
                but it is very user-friendly and you will find your way around. In the <i class="emp">Deposit</i> section, 
                you can find <i class="emp">different Plans</i> you can choose from. The higher the investment - the higher 
                the ROI. Like everywhere else. I personally chose the first plan, to check how the platform works.
            </i></p>
            <p><i>**Every <i class="emp">Plan</i> has a different life-cycle, and at its end, you receive your invested 
                capital back as well! But the initial investment has a <i class="dng">higher</i> fee than usual, and is 
                processed a bit slower than most places. But as long as the platform is stable and does actual financial 
                transaction, I am willing to accept these minor inconveniences. <i class="emp">Plan 1</i> has the shortest 
                lifecycle of <i class="emp">15 days</i> and a minimum deposit of <i class="emp">10$</i>.
            </i></p>
            <p><i>***You can withdraw at any time, and eventhough I am not sure of the exact 
                <i class="emp">minimum withdraw</i>, I know it is pretty low. Be sure to <i class="emp">add the address</i> 
                in your settings, before initiating a withdraw. You can also choose to reinvest at the end of the investment 
                period or earlier and <i class="emp">increase</i> your daily income.
            </i></p>
            <p><i>****The <i>Bounty</i> system of <i class="emp">BitStarsInv</i> offers a variety of bonuses if you help 
                spread the popularity of the project. Some of them are pretty nice and you should check them out. But, as 
                an advice, you might need to have some activity in the system, before completing a bounty.
            </i></p>
            <span class="gl">Good luck!</span> 
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Investments</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
          My journey with <i>BitStarsInv</i> is just beginning (I hope). I found the project interesting and with 
          potential. It has survived for more than 2 years, and might actually be a very good opportunity to gain some 
          passive income in the near future. My starting <i class="emp">investment</i> was only <i>~38$</i>, but I was 
          low on capital in that moment. After the first <i class="emp">life cycle</i> of 15 days (Plan 1), I decided to 
          reinvest, rather than withdraw. I did it once more at the second <i class="emp">return of investment</i> and am 
          planing doing so for a while and even increase my investment with another deposit. Before making an investment, 
          always <i class="emp">search online</i> for additional information. And invest on your <i class="dng">own risk</i>.
        </p>
        <div class="book">
            <p>17.02$ (Reinvested)</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://bitstarsinv.com/?ref=VladTaltos89">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments <= 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

