<h2>Xeniminers</h2>
<div class="logoContainer">
  <img class="logo" [src]="xeni" alt="Honeygain's logo, a bee" />
  <p class="welcomeQ">
    <i class="quote"
      >"Welcome to Xeniminers, the platform that redifines NFTS and Blockchain
      technology. Join the revolution and discover a new world of infinite
      possiblities."</i
    >
  </p>
</div>
<section class="companyStatement">
  <h4>Company's statement</h4>
  <p class="cStatement">
    "XENIMINERS stands as a revolution in the blockchain universe, bringing with
    it a bold and avant-garde approach aimed at boosting the use of ERC721
    tokens and strengthening the sustainable growth of ERC20 tokens in its
    ecosystem. This innovative project goes beyond convention, seeking to
    guarantee economic stability and investment security in the intricate world
    of blockchain, while simplifying the interaction with cryptoassets to drive
    their global expansion. Imagine a scenario where XENIMINERS operates as an
    “NFT-CHAIN”, a chain of non-fungible tokens (NFT), but with a unique twist
    and full of potential in the vast blockchain ecosystem. More than just a
    platform, XENIMINERS introduces its own distinctive economic system, with
    elements such as a referral system, mining, participation and rewards,
    creating a vibrant and participatory environment. The platform integrates
    not only established protocols such as "Proof of Work" and "Proof of Stake",
    but also innovative protocols adapted to your specific needs, such as "Proof
    of Difficulty" and "Proof of Chain". XENIMINERS is not limited to boosting
    its own internal economy through the clever use of NFTs; acts as a strategic
    bridge to raise the value of alternative cryptocurrencies such as Binance
    Coin, Ether and Bitcoin, all playing a pivotal role in its intriguing
    NFT-CHAIN. This momentum not only contributes to progress but also
    accelerates the mass adoption of blockchain technology. This project emerges
    as a pioneer, masterfully fusing proven features with bold innovations in
    the blockchain space. With a dedicated focus on economic stability, active
    participation and simplification of interaction with cryptoassets,
    XENIMINERS leaves an indelible mark on the evolution of blockchain
    technology. Its vision transcends the present, pointing towards future
    developments with autonomous and stable economies, marking a milestone in
    the transformation."
  </p>
</section>
<section class="myStatement">
  <h4>My point of view</h4>
  <p class="mStatement">
    "<i class="emp">Xeniminers</i> launched a few days ago, I believe on the 7th
    of January 2024. It is a very ambitious platform, build as a Blockchain
    simulation. If you are fond of Blockchains, such as I, you might find this
    project interesting. The concept is somewhat difficult to grasp at first,
    but the creators have made their own Blockchain simulation, and you can
    participate as a <i class="emp">Node</i> by buying certain
    <i class="emp">NFTs</i>. This Non-Fundable-Tokens provide you with a
    <i class="emp">virtual miner</i>, which immediately starts functioning on
    the blockchain. There are three different statuses of these
    <i class="emp">miners</i> and they also possess different
    <i class="emp">rarities</i>. I guess it depends on your luck what kind of
    miner you will receive by buying an NFT. I will explain about the different
    statuses below. For now, I will share with you that I find the platform
    quite <i class="emp">interesting</i> and with <i class="emp">potential</i>.
    Your hired miners work tirelessly day and night to support the system, thus
    generating <i class="emp">'blocks'</i>. After a block is generated, certain
    miners are chosen to <i class="emp">mine it</i>, thus receiving a reward at
    the end.
  </p>
</section>
<section>
  <div class="tips">
    <h2 class="tipsH">Tips</h2>
    <div class="column1">
      <ul>
        <div class="listCont">
          <li>Launch App and choose a Blockchain*</li>
          <span class="tipsIcon">
            <img class="honeyIps" [src]="blockchain" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Go to Marketplace and buy XNC**</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="market" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Register***</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="reg" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Mint NFT(s) / Start mining****</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="mine" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Withdraw*****</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="withdraw" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Global Data Network / Mining</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="network" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Invite friends and acquire referrals</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="refer" alt="" />
          </span>
        </div>
      </ul>
      <div class="wallpaper">
        <img
          class="wallpaperImg2"
          [src]="xeni_wall2"
          alt="a person sitting on his sofa in the living room, while his devices emit digital bees"
        />
      </div>
    </div>
    <div class="def">
      <p class="tm">
        <i
          >Some of the icons, I've used for the <i class="emp">Tips</i> section
          are <i class="emp">Xeniminers's</i> original images. I did not create
          or own them.</i
        >
      </p>
      <p>
        <i
          >*You should first launch the app. You will be welcomed to a friendly
          and well-designed screen with different
          <i class="emp">Blockchains</i> you can choose from. You can view this
          as options for the different financial assets you wish to trade with.
          Currently, only the <i class="emp">Testnet</i> and the
          <i class="emp">BNB Mainnet</i> are available. If you want to start
          earning, you would need to select the BNB Mainnet and connect your
          <i class="emp">MetaMask</i> to the platform. If you're new to
          electronic crypto wallets, you can check my
          <a class="blogLink" routerLink="/">homepage</a> for different
          solutions, under the <i class="emp">Wallets</i> section. After you've
          reached the Mainnet of Xeniminers, you will find yourself on the
          <i class="emp">Global Data Network</i> page, where you can see how
          many <i class="emp">Nodes</i> are connected, supporting, working or
          retired, as well as other data you might find interesting, such as the
          <i class="emp">Global power</i> and events, happening in real-time on
          the platform. It's pretty interesting, really. If a
          <i class="emp">block</i> is found, a certain
          <i class="emp">miner</i> is assigned to it, and this miner might even
          be yours. Mining it provides rewards in the form of the native token
          <i class="emp">XNC</i>. <br />
        </i>
      </p>
      <p>
        <i
          >**Registration is easy, after you have at
          <i class="emp">least 35 XNC</i>. But please provide my username
          <i class="dng">vladtaltos</i>, when you go through the process, so I
          receive bonuses and you join <i class="dng">my army</i>. The
          registration process takes 35 XNC (0.0055 BNB).
        </i>
      </p>
      <div class="wallpaper">
        <img
          class="wallpaperImg"
          [src]="xeni_wall"
          alt="different blockchain networks as cards"
        />
      </div>
      <p>
        <i
          >***The next step is to <i class="emp">Mint your first NFT</i>. Doing
          so provides with with a <i class="emp">random miner</i>, which
          immediately stars <i class="emp">supporting the network</i> with a
          <i class="dng">class of Hercules</i>. What does that mean? See below.
        </i>
      </p>
      <p>
        <i
          >****At first the miners are placed in this category (Hercules), which
          means that they are
          <i class="emp"
            >supporting the network and the creation of new blocks</i
          >. At some point your miner might be
          <i class="emp">automatically assigned</i> to
          <i>mine a newly discovered block</i>, this receiving the
          <i class="emp">rank of Worker</i>. The final rank is that of a
          <i class="emp">Retired</i> machine, leaving room for new ones to take
          its place. You can check how many Hercules, Worker and Retired
          machines there are currently on the network in the
          <i>Global Data Network</i> page of the app. There you can also see
          information about new blocks and assigned machines, as well as other
          global information.
        </i>
      </p>
      <p>
        <i
          >*****Withdraw is made at the <i class="emp">Bank of Xeniminers</i>.
          There you can claim XNC as BNB directly to your MetaMask or you can
          also clain <i class="emp">RPS</i>, which I suppose is some kind of
          bonuses (referral and other), that you receive throughout your journey
          in the network. The price of XNC is the same as the buying one -
          <i class="emp">35 XNC = 0.0055 BNB</i>.
        </i>
      </p>
      For additional information, you can check the official
      <a
        class="blogLink"
        target="_blank"
        href="https://xenideveloper.gitbook.io/xeniminers-whitepaper/que-es-xeniminers/xeniminers-nfts-chain"
        >Whitepaper</a
      >. If you have difficulties reading Spanish, you can translate it with the
      browser's build-in tools.on.
      <span class="gl">Good luck!</span>
    </div>
    <div class="bToFauc">
      <button id="buttonBack" (click)="goInvest()">
        <div class="text">
          <span class="backBtnTxt">Back</span>
        </div>
        <div class="clone">
          <span class="backBtnTxt">Cloud-Mining</span>
        </div>
        <svg
          width="20px"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14 5l7 7m0 0l-7 7m7-7H3"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</section>
<section class="earnings">
  <h2 class="earningsH">My earnings</h2>
  <div class="earningsInfo">
    <p class="textInfo">
      I've just recently invested ~18$ and minted / bought my first NFT miner.
      Sadly, it is the lowest rarity, but it is still helpful to the network! It
      is currently with a <i class="emp">Hercules</i> status, but that can
      change one day. I definitely want to mint more NFT's and try my first
      withdrawal after some time. I will provide more feedback as soon as
      possible!
    </p>
    <div class="book">
      <p>~9$</p>
      <div class="cover">
        <p>Earnings</p>
      </div>
    </div>
  </div>
  <div class="goReg">
    <button class="regButton">
      <a class="regLink" target="_blank" href="https://xeniminers.com"
        >Get Started</a
      >
    </button>
  </div>
  <div class="extraNote">
    <p>
      Please choose me - <i class="emp">vladtaltos</i> as a referrer. Thanks!
    </p>
  </div>
</section>
<section class="comments">
  <h3>Comments section</h3>
  <div class="commentBox">
    <div class="guestName">
      <input
        class="nameInput"
        type="text"
        name=""
        id=""
        placeholder="Name / Nickname"
        [(ngModel)]="nickName"
      />
    </div>
    <div class="rating">
      <select
        #uRating
        class="stars"
        name=""
        id=""
        (change)="getRating(uRating.value)"
      >
        <option value="1">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <span><img [src]="ratings" alt="" /></span>
  </div>
  <div class="inputField">
    <textarea
      class="commentField form-control"
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Write a comment..."
      [(ngModel)]="comment"
      required
    >
    </textarea>
  </div>
  <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
    Submit
  </button>
</section>
<section class="guestComments" id="cmntSect">
  <h3>Comments</h3>
  <p *ngIf="numberOfComments < 1" class="noComments">
    There are no comments. Maybe you can add one?
  </p>
  <p
    *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0"
    class="avRate"
  >
    Avarage rate:
    <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 1" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 2" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 3" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 4" [src]="ratings" alt="" />
    <img *ngIf="ratingHalf" [src]="halfRatings" alt="" />
  </p>
  <div class="allComments" *ngFor="let g of numberOC; index as i">
    <div class="guestDetails">
      <p class="name">
        {{
          listOfComments[0].slice(
            this.currentPage * 3 - 3,
            this.currentPage * 3
          )[i]
        }}
      </p>
      <span
        *ngIf="
          listOfComments[1].slice(
            this.currentPage * 3 - 3,
            this.currentPage * 3
          )[i] > 0
        "
        class="guestRating"
      >
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 0
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 1
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 2
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 3
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 4
          "
          [src]="ratings"
          alt=""
        />
      </span>
    </div>
    <p class="comment">
      {{
        listOfComments[2].slice(this.currentPage * 3 - 3, this.currentPage * 3)[
          i
        ]
      }}
    </p>
  </div>
  <div *ngIf="!newComment && numberOfComments > 0" class="pagesMenu">
    <div class="currentPage">
      <span>Current page: </span
      ><span class="curPageNum">{{ currentPage }}</span>
    </div>
    <div class="pagesNav">
      <svg (click)="pageBackward()">
        <path
          fill="#f08080"
          d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"
        ></path>
      </svg>
      <div *ngIf="!multiplePage" class="singPages">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="i <= 2"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}
          </span>
        </div>
      </div>
      <div *ngIf="multiplePage" class="multiplePage">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="i <= 1"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}
          </span>
        </div>
      </div>
      <span class="medPages" *ngIf="multiplePage" (click)="choosePage()"
        >...</span
      >
      <div *ngIf="multiplePage" class="multiplePage">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="commentPages.length - 2 <= i"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}</span
          >
        </div>
      </div>
      <svg (click)="pageForward()">
        <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
      </svg>
    </div>
    <!-- <div class="page" >Page</div> -->
  </div>
</section>
