
<h2>adBTC</h2>
<div class="logoContainer">
    <img class="logo" [src]="adbtc" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"This website allows you to get free bitcoin. 
        It is better than bitcoin faucet, it is not btc miner, just earn bitcoin online 
        for viewing web pages, mostly bitcoin sites.
        "</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network. Bitcoin is open-source; its design is public, nobody owns or controls Bitcoin and everyone can take part. Through many of its unique properties, Bitcoin allows exciting uses that could not be covered by any previous payment system.
        This website allows you to get free bitcoin. It is better than bitcoin faucet, it is not btc miner, just earn bitcoin online for viewing web pages, mostly bitcoin sites.
        Internet advertising is evolving and now you have the right to get paid for it! Earn bitcoin online free and withdraw it to your Bitcoin wallet.
        Now, the volume of bitcoin transactions is over than 2.73 Billions USD daily. You can join the flow of money and start with easy bitcoin got here! Have a good rich day!
        "
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "adBTC top is a PTC platform, in which, you can browse advertisements and get BTC (or Satoshi) rewards for doing so.
        There are two types of users in the platform - advetisers and earners. You can advertise (for a certain cost) and 
        earn at the same time (by watching advertisements). You can Sign-in with Google, which makes the Log-in 
        functionality pretty easy. There are a few options you can earn from - 'Surfing' (for Satoshi and for Ruble), 
        watch Video ads and also Shortlinks. I mainly use the platform for a quick daily surf. It is a nice way to see 
        some new Bitcoin projects and get payed for it. Doesn't take more than 10 minutes per day. It doesn't pay much, 
        but doesn't cost anything and you get payed in Crypto currency, which you can invest in other projects."
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Check from time to time for new ads to watch</li>
                    <span class="tipsIcon">
                        <i class="fas fa-mouse-pointer left tIcon"></i>
                    </span>
                </div>
                <div class="listCont">
                    <li>Get your Rating up*</li>
                    <span class="tipsIcon">
                        <i class="fa fa-star left tIcon"></i>
                    </span>
                </div>
                <div class="listCont">
                    <li>Make a FaucetPay or Payeer wallet to receive earnings**</li>
                    <span class="tipsIcon">
                        <i class="fa-solid fa-wallet left tIcon"></i>
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends / Acquire referrals</li>
                    <span class="tipsIcon">
                        <i class="fa fa-user-plus left tIcon"></i>
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="adbtcWall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p><i>*Rating is increased with every ad you watch. The higher the rating, the bigger the number of ads and 
                higher the rewards you have access to. Also less captchas.
            </i></p>
            <p><i>**You will need either a <i class="emp">Faucet Pay</i> or <i class="emp">Payeer</i> wallets to receive your earnings.
                The minimum withdrawal for Faucet Pay is significantly smaller than the one to Payeer. You can reach the 
                minimum for a couple of days, if you are active, while the one for Payeer is 100 times higher. You can also 
                withdraw to a Direct BTC Wallet address (the same minimum withdrawal as Payeer). The last option is to a 
                WTBC (Polygon) wallet. You can find more information about Payeer and Faucet Pay wallets on the 
                <a class="homeLink" routerLink="/home"><i class="emp">homepage</i></a>.
            </i></p>
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goFaucets()">
                <div class="text">
                    <span>Back</span>
                </div>
                <div class="clone">
                    <span>Side Hustles</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
            You won't be able to earn a lot in adBTC.top unless you have a lot of referrals. But you can still boost 
            your crypto income. I use these projects for some spare change and to increase my 
            investment potential. Of course, you would need to find a good project to invest in, so you don't lose 
            your hard-earned money. In adBTC, you can earn some BTC by browsing ads. You don't even need to be on the 
            ad page, when you open it. You just need to wait 15 seconds before closing the page and receiving a reward. 
            And it doesn't take up much time. If you do it on a daily basis, in combination with other online activities, 
            you won't even notice it. And there is always the option to check some new projects, which are 
            advertised and broaden your horizons, but I recommend caution. Some of them (if not most) might be scam.<br>
            <span class="gl">Good luck!</span> 
        </p>
        <div class="book">
            <p>~2$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://r.adbtc.top/3297858">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments <= 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating >= 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating >= 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating >= 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating >= 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating >= 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of pageListComments">
        <div class="guestDetails">
            <p class="name">{{g['nick']}}</p>
            <span *ngIf="g['rating'] > 0" class="guestRating">
                <img *ngIf="g['rating'] > 0" [src]="ratings" alt="">
                <img *ngIf="g['rating'] > 1" [src]="ratings" alt="">
                <img *ngIf="g['rating'] > 2" [src]="ratings" alt="">
                <img *ngIf="g['rating'] > 3" [src]="ratings" alt="">
                <img *ngIf="g['rating'] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{g['comment']}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>
