<h2>EtcCloudLtd</h2>
<div class="logoContainer">
  <img class="logo" [src]="etc" alt="An abstract logo with the letter etc" />
  <p class="welcomeQ">
    <i class="quote"
      >"ETC serves as a global energy cloud computing management platform,
      establishing an intelligent cloud computing management system."</i
    >
  </p>
</div>
<section class="companyStatement">
  <h4>Company's statement</h4>
  <p class="cStatement">
    "Currently, ETC has reached a mutual agreement with Binance, launching TRX
    staking conversion. ETC stands as the world's first platform managing
    Binance's energy conversion, uniting global energy users on the ETC cloud
    computing management platform, achieving a three-party win-win cloud
    computing management ecosystem. The ETC cloud computing management platform
    utilizes Binance's TRX staking conversion for energy sales. With a global
    audience of energy buyers, users charge their ETC accounts by purchasing
    USDT on Binance and converting it to TRX on the ETC platform. ETC gains
    energy from Binance through intelligent conversion and sells it to energy
    consumers. As ETC users participate through staking, they have flexible fund
    management. ETC acts as a custodian without retaining funds, alleviating
    global users' concerns about fund security. Users can confidently
    participate in intelligent conversion through the ETC cloud computing
    platform."
  </p>
</section>
<section class="myStatement">
  <h4>My point of view</h4>
  <p class="mStatement">
    "<i class="emp">EtcCloudLtd</i> is an interesting Spanish platform, which
    claims to have established some kind of
    <i class="emp">third-part cloud computing management system</i>. Their field
    of action seems to be very serious and I am still trying to grasp the logic.
    That is because I decided to give the platform a try and managed to
    withdraw, that is why I want to get to know their actions, so I have a
    better perspective on their activity. The things I can claim I've tested and
    understand (partially) are that you invest funds (min. 12 USDT) and try use
    the <i class="emp">Pledge</i> option <i class="emp">6 times / day</i>. Each
    time, you receive <i class="emp">0.45%</i> ROI. That's it. But in deeper
    logic, <i class="emp">ETC Cloud LTD</i> wants us to believe that by pressing
    the button, you actually <i class="emp">participate</i> in their activity
    with <i class="emp">Binance</i> and
    <i class="emp">third party companies</i>. They claim you, as an investor
    <i class="emp">buy</i> USDT on Binance, by <i class="emp">Pledging</i> their
    funds <i class="emp">up to 6 times / day</i>, thus using the
    <i>the companie's system</i> to automatically convert USDT to TRX on Binance
    by an intelligent algorithm (or something) and receiving some kind of
    energy, which it sells to 3rd party users. I will investigate this
    <i class="emp">energy resource</i> further soon."
  </p>
</section>
<section>
  <div class="tips">
    <h2 class="tipsH">Tips</h2>
    <div class="column1">
      <ul>
        <div class="listCont">
          <li>Register, explore (choose Language) and make an investment*</li>
          <span class="tipsIcon">
            <img class="honeyIps" [src]="explore" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Use the Pledge button in the Trading menu**</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="deposit" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Increase profit / Withdraw***</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="withdraw" alt="" />
          </span>
        </div>
        <div class="listCont">
          <li>Invite friends and acquire referrals</li>
          <span class="tipsIcon">
            <img class="mark ytube" [src]="refer" alt="" />
          </span>
        </div>
      </ul>
    </div>
    <div class="wallpaper">
      <img
        class="wallpaperImg"
        [src]="etccloudltd_wall"
        alt="a person sitting on his sofa in the living room, while his devices emit digital bees"
      />
    </div>
    <div class="def">
      <p class="tm">
        <i
          >All of the icons, I've used for the <i class="emp">Tips</i> section
          are <i class="emp">EtcCloudLtd's</i> original images. I did not create
          or own them.</i
        >
      </p>
      <p>
        <i>
          *To register in the company's platform, you will need to choose your
          country's area code and enter a valid mobile number (you will need it
          to receive messages later). You choose your password and enter the
          website. You can swap between 7 different languages. The platform
          looks a bit odd on a desktop device. It is very suitable for a mobile
          (it's one of those platforms). There is even an option to download the
          mobile version if you feel like it. In the
          <i class="emp">Recharge</i> menu, you can add funds to your account.
          Make sure to Bind your USDT account (the company prefers a Binance
          address), where you will receive crypto, when you withdraw. In
          <i class="emp">Account Security</i>, you can change your password and
          add a transaction password (make sure to remember it).
        </i>
      </p>
      <p>
        <i
          >**In the Trading menu you can actually earn by
          <i class="emp">Pledging</i>your invested funds. The proccess is fairly
          swift. Each Pledge takes <i class="emp">~5 mins</i>, and you can
          Pledge <i class="emp">6 times per day</i>. But beware, you must to
          complete <i class="emp">all 6 times</i> to receive your daily income
          after the last one.</i
        >
      </p>
      <p>
        <i
          >***With each passing day your <i class="emp">funds increase</i>,
          which means that your <i class="emp">Pledge</i> earning rate
          increases. The minimum withdraw is <i class="emp">10 USDT</i> and make
          sure to have at <i class="emp">least 12 USDT</i> remaining in
          <i class="emp">your balance</i> at any time, otherwise the Pledge
          won't work. It's up to you decide when to withdraw or when to benefit
          from higher daily income.
        </i>
      </p>
      <span class="gl">Good luck!</span>
    </div>
    <div class="bToFauc">
      <button id="buttonBack" (click)="goInvest()">
        <div class="text">
          <span class="backBtnTxt">Back</span>
        </div>
        <div class="clone">
          <span class="backBtnTxt">Investments</span>
        </div>
        <svg
          width="20px"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14 5l7 7m0 0l-7 7m7-7H3"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</section>
<section class="earnings">
  <h2 class="earningsH">My earnings</h2>
  <div class="earningsInfo">
    <p class="textInfo">
      I am a bit worried to strongly recommend this platform. It seems very
      interesting (in a strange way). Let me first explain the things I like
      about it, and after that I will point out to some worries of mine. The
      first thing I liked about is that it is simple, yet well organized. The
      menus are self-explanatory and easy to use, yet bare official-looking
      signs. The concept of the company, though a bit strange to understand and
      trust, seems interesting and even possible in perspective. They also have
      a very nice video, but it is in Spanish, and I couldn't understand much.
      Still, I can see their logo in a few places and it is a fairly long media
      clip, that looks not too shady. I also made a successful withdrawal. The
      things I am worried about is that a big number of similar companies are
      scam. Mobile looking web applications, that have familiar to this concept.
      That is my biggest worry at the moment. It might be just another project,
      trying to steal some cash with fake promises. But whether it is the real
      deal, we will understand pretty soon. Please, if you decide to invest,
      don't risk too much at this point and first see if the company has real
      potential. Still, it is an interesting project and I will provide more
      feedback soon.
    </p>
    <div class="book">
      <p>~20$</p>
      <div class="cover">
        <p>Earnings</p>
      </div>
    </div>
  </div>
  <div class="goReg">
    <button class="regButton">
      <a
        class="regLink"
        target="_blank"
        href="https://etccloudltd.com/t/CDCG0DaEeae?lang=EN"
        >Get Started</a
      >
    </button>
  </div>
</section>
<section class="comments">
  <h3>Comments section</h3>
  <div class="commentBox">
    <div class="guestName">
      <input
        class="nameInput"
        type="text"
        name=""
        id=""
        placeholder="Name / Nickname"
        [(ngModel)]="nickName"
      />
    </div>
    <div class="rating">
      <select
        #uRating
        class="stars"
        name=""
        id=""
        (change)="getRating(uRating.value)"
      >
        <option value="1">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <span><img [src]="ratings" alt="" /></span>
  </div>
  <div class="inputField">
    <textarea
      class="commentField form-control"
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Write a comment..."
      [(ngModel)]="comment"
      required
    >
    </textarea>
  </div>
  <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
    Submit
  </button>
</section>
<section class="guestComments" id="cmntSect">
  <h3>Comments</h3>
  <p *ngIf="numberOfComments < 1" class="noComments">
    There are no comments. Maybe you can add one?
  </p>
  <p
    *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0"
    class="avRate"
  >
    Avarage rate:
    <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 1" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 2" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 3" [src]="ratings" alt="" />
    <img *ngIf="avarageRating > 4" [src]="ratings" alt="" />
    <img *ngIf="ratingHalf" [src]="halfRatings" alt="" />
  </p>
  <div class="allComments" *ngFor="let g of numberOC; index as i">
    <div class="guestDetails">
      <p class="name">
        {{
          listOfComments[0].slice(
            this.currentPage * 3 - 3,
            this.currentPage * 3
          )[i]
        }}
      </p>
      <span
        *ngIf="
          listOfComments[1].slice(
            this.currentPage * 3 - 3,
            this.currentPage * 3
          )[i] > 0
        "
        class="guestRating"
      >
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 0
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 1
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 2
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 3
          "
          [src]="ratings"
          alt=""
        />
        <img
          *ngIf="
            listOfComments[1].slice(
              this.currentPage * 3 - 3,
              this.currentPage * 3
            )[i] > 4
          "
          [src]="ratings"
          alt=""
        />
      </span>
    </div>
    <p class="comment">
      {{
        listOfComments[2].slice(this.currentPage * 3 - 3, this.currentPage * 3)[
          i
        ]
      }}
    </p>
  </div>
  <div *ngIf="!newComment && numberOfComments > 0" class="pagesMenu">
    <div class="currentPage">
      <span>Current page: </span
      ><span class="curPageNum">{{ currentPage }}</span>
    </div>
    <div class="pagesNav">
      <svg (click)="pageBackward()">
        <path
          fill="#f08080"
          d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"
        ></path>
      </svg>
      <div *ngIf="!multiplePage" class="singPages">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="i <= 2"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}
          </span>
        </div>
      </div>
      <div *ngIf="multiplePage" class="multiplePage">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="i <= 1"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}
          </span>
        </div>
      </div>
      <span class="medPages" *ngIf="multiplePage" (click)="choosePage()"
        >...</span
      >
      <div *ngIf="multiplePage" class="multiplePage">
        <div class="pages" *ngFor="let p of commentPages; let i = index">
          <span
            *ngIf="commentPages.length - 2 <= i"
            [ngClass]="i + 1 == currentPage ? 'selectedP' : ''"
            (click)="goPage(i + 1)"
            >{{ i + 1 }}</span
          >
        </div>
      </div>
      <svg (click)="pageForward()">
        <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
      </svg>
    </div>
    <!-- <div class="page" >Page</div> -->
  </div>
</section>
