
<h2>Merobit</h2>
<div class="logoContainer">
    <img class="logo" [src]="merobit" alt="Honeygain's logo, a bee">
    <p class="welcomeQ"><i class="quote">"MEROBIT LTD, the future of asset management tailored for 
        the ambitious investor.
        "</i>
    </p>    
</div>
<section class="companyStatement">
    <h4>Company's statement</h4>
    <p class="cStatement">
        "In the ever-evolving world of finance, we have emerged as a beacon of reliability and profitability. 
        By choosing to invest with us, you're not just entrusting your assets; you're partnering with a visionary 
        team committed to delivering up to an astounding 340% ROI in 40 days. We offer the option to cancel your 
        deposit anytime, ensuring you always remain in full control of your investment.
        "
    </p>
</section>
<section class="myStatement">
    <h4>My point of view</h4>
    <p class="mStatement">
        "<i class="emp">Merobit</i> is another promosing platform, which offers quite <i class="emp">big ROI</i> and also 
        the possibility to <i class="emp">cancel your deposit</i> anytime. As I mention, its ROI is quite big, so I had my 
        suspicions at first, but I just decided to <i class="dng">risk</i> and invest the minimum of 25$. To my pleasant 
        surprise, I got them back in a few weeks and now am earning net value. I got my <i class="emp">hopes high</i>, 
        because of the commotion surrounding the company. With a dedicated user base exceeding 5,748 individuals and an 
        impressive $3.8 million in active deposits, 
        MEROBIT distinguishes itself with its clear mission of simplifying the crypto investment experience."
    </p>
</section>
<section>
    <div class="tips">
        <h2 class="tipsH">Tips</h2>
        <div class="column1">
            <ul>
                <div class="listCont">
                    <li>Register, explore and make an investment*</li>
                    <span class="tipsIcon">
                        <img class="honeyIps" [src]="reg" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Wait for the investment life-cycle ot end**</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="lifecycle" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Withdraw / Reinvest***</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="withdraw" alt="">
                    </span>
                </div>
                <div class="listCont">
                    <li>Invite friends and acquire referrals</li>
                    <span class="tipsIcon">
                        <img class="mark ytube" [src]="refer" alt="">
                    </span>
                </div>
            </ul>
        </div>
        <div class="wallpaper"> 
            <img class='wallpaperImg' [src]="merobit_wall"
            alt="a person sitting on his sofa in the living room, while his devices emit digital bees">
        </div>
        <div class="def">
            <p><i>*After registering in <i class="emp">Merobit</i>, you will find yourself in the Dashboard, where you can 
                view your Account Summary, including <i class="emp">Balance</i>, 
                 <i class="emp">Active Deposits</i> and <i class="emp">Total Earned</i>. The interface is very 
                 <i class="emp">user-friendly</i> and you will find the <i class="emp">Deposits</i> section easy. After 
                 making a deposit, it <i class="emp">automatically</i> becomes active and will 
                 <i class="emp">generate you income</i> everyday at the same time, the deposit was made. Please, 
                 <i class="dng">be careful</i> and <i class="emp">invest</i> on <i class="dng">your own risk</i>. I 
                 simply <i class="dng">can't guarantee</i> how long this project will last. It seems all right at the 
                 current moment, but with these projects, you may never know. If you want to invest, maybe make a strategy 
                 and invest only a certain amount and make sure to make your own reasearch, before doing so.

            </i></p>
            <p><i>**There are <i class="emp">two plans</i>, you can choose from - <i class="emp">Starter (5% / 30 days)</i>
                 and 
                <i class="emp">Premium (6% / 40 days)</i>. The minimum investment is <i class="emp">25$</i> for the Starter 
                and <i class="emp">2500$</i> for the Premium. After the lifecycle has finished, you 
                <i class="emp">get your investment back</i> and you can <i class="emp">cancel your plan</i> anytime and get 
                <i class="emp">deposit back</i>. You can <i class="emp">withdraw</i> anytime, during the lifecycle, not 
                explicitly at the end.
            </i></p>
            <p><i>***<i class="emp">Withdrawals</i> are not instant, but I've tested them and managed to withdraw 3 times, 
                returning my initial investment. <i class="emp">Once again</i>, I implore you, 
                <i class="emp">do your own research</i>, before <i class="dng">investing</i>. I am just providing you my 
                story and don't want to be held responsible.
            </i></p>
            <span class="gl">Good luck!</span> 
        </div>
        <div class="bToFauc">
            <button id="buttonBack" (click)="goInvest()">
                <div class="text">
                    <span class="backBtnTxt">Back</span>
                </div>
                <div class="clone">
                    <span class="backBtnTxt">Investments</span>
                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
                stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        </div>
        
    </div>
</section>
<section class="earnings">
    <h2 class="earningsH">My earnings</h2>
    <div class="earningsInfo">
        <p class="textInfo">
          I already explained most of my <i class="emp">journey</i> with <i class="emp">Merobit</i>. But along the way, 
          by doing so, I found more information on the subject and found out that <i class="emp">Merobit</i> has risen 
          quite the commotion online and has numerous post on <i class="emp">Medium</i> and <i class="emp">Binance</i>, as
           well as other. You can <i class="emp">check them</i> for yourselves. All toghether, the project is 
           <i class="">big</i> and <i class="emp">popular</i>, but I don't plan on investing in it too much, but maybe I 
           will <i class="dng">increase</i> my investment. I plan ot playing <i class="emp">safe as possible</i>, investing 
           small amount and <i class="emp">reinvesting</i>, when I manage a <i class="dng">100% ROI</i>, so I 
           <i class="dng">don't lose anything</i> or <i class="emp">very little</i>. This way I will earn 
           <i class="emp">less</i>, but play <i class="emp">safely</i>.
        </p>
        <div class="book">
            <p>50$</p>
            <div class="cover">
                <p>Earnings</p>
            </div>
           </div>
    </div>
    <div class="goReg">
        <button class="regButton">
            <a class="regLink" target="_blank" href="https://merobit.com/ref/VladTaltos89">Get Started</a>
        </button>
    </div>
</section>
<section class="comments">
    <h3>Comments section</h3>
    <div class="commentBox">
        <div class="guestName">
            <input class="nameInput" type="text" name="" id="" placeholder="Name / Nickname" [(ngModel)]="nickName">
        </div>
        <div class="rating">
            <select #uRating class="stars" name="" id="" (change)="getRating(uRating.value)">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <span><img [src]="ratings" alt=""></span>
    </div>
        <div class="inputField">
            <textarea 
            class="commentField form-control" name="" id="" cols="30" rows="10" placeholder="Write a comment..." 
            [(ngModel)]="comment" required> 
            </textarea>
        </div>
        <button class="buttonSbmt" (click)="post()" [disabled]="newComment">
            Submit
          </button>
</section>
<section class="guestComments" id="cmntSect">
    <h3>Comments</h3>
    <p *ngIf="numberOfComments < 1" class="noComments">There are no comments. Maybe you can add one?</p>
    <p *ngIf="!newComment && numberOfComments > 0 && avarageRating > 0" class="avRate">Avarage rate: 
        <img *ngIf="avarageRating > 0 && !ratingHalf" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 1" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 2" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 3" [src]="ratings" alt="">
        <img *ngIf="avarageRating > 4" [src]="ratings" alt="">
        <img *ngIf="ratingHalf" [src]="halfRatings" alt="">

    </p>
    <div class="allComments" *ngFor="let g of numberOC, index as i">
        <div class="guestDetails">
            <p class="name">{{listOfComments[0].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
            <span *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" class="guestRating">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 0" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 1" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 2" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 3" [src]="ratings" alt="">
                <img *ngIf="listOfComments[1].slice(this.currentPage*3-3, this.currentPage*3)[i] > 4" [src]="ratings" alt="">
            </span >
        </div>
        <p class="comment">{{listOfComments[2].slice(this.currentPage*3-3, this.currentPage*3)[i]}}</p>
    </div>
    <div *ngIf='!newComment && numberOfComments > 0' class="pagesMenu">
        <div class="currentPage"><span>Current page: </span><span class="curPageNum">{{currentPage}}</span></div>
        <div class="pagesNav">
            <svg (click)="pageBackward()">
                <path fill="#f08080" d="M25 0 L15 0 L0 20 L15 40 L25 40 L10 20 Z"></path>
            </svg>
            <div *ngIf="!multiplePage" class="singPages">
                <div class="pages" *ngFor="let p of commentPages; let i = index;">
                    <span *ngIf="i<=2" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>

            </div>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="i<=1" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}
                    </span>
                </div>
            </div>
            <span class="medPages" *ngIf="multiplePage" (click)="choosePage()">...</span>
            <div *ngIf="multiplePage" class="multiplePage">
                <div class="pages" *ngFor="let p of commentPages; let i = index">
                    <span *ngIf="commentPages.length-2 <= i" 
                    [ngClass]="i+1 == currentPage ? 'selectedP' : ''" (click)="goPage(i+1)">{{i+1}}</span>
                </div>
            </div>
            <svg (click)="pageForward()">
                <path fill="#f08080" d="M0 0 L10 0 L25 20 L10 40 L0 40 L15 20 Z"></path>
            </svg>  
        </div>
        <!-- <div class="page" >Page</div> -->
    </div>
</section>

